[2016-11-19 04:31] kneipp commented on #293
My concern is about N+1 inserts and updates using Sentinel. We can do this with insert() and update() methods in Laravel. Not sure if have any way to do mass-assign using Sentinel auth.
BTW i'm newbie w/ Sentinel.
Appreciate, [ ] 's

[2016-11-19 10:55] brunogaspar commented on #296
You can access the user roles by calling `->roles` like so `Sentinel::getUser()->roles`.

[2016-11-19 10:55] #296 closed

[2016-11-20 03:47] gitricardosoares opened #297 "Roles and User relationship"
The default role system has a relationship of many roles for a single user, can we change it to single role to single user?

[2016-11-21 08:58] talal424 opened #298 "missed option single persistence when using Native"
#Original Native\SentinelBootstrapper.php on line: 125-127
[code]

#edit

[code]

[2016-11-22 04:27] shahidbasheer opened #299 "user object returned on login logout"
Hi,
I have an issue in my laravel sentinel application when in try to log in with `Sentinel::authenticate( $credentials , $remember);`method it dump user object whatever the route i call but when i try to login like this `$user = Sentinel::findById(25);
Sentinel::login($user);` the every thing work fine. i have check with different user and by clearing all cookies and sessions in browser. below is

[2016-11-22 08:14] shahidbasheer commented on #299
my bad i made new exception and  check() was dumping  there spent two days.  :)

[2016-11-22 08:14] #299 closed

[2016-11-22 19:48] CecileV opened #300 "Error Bag in FormRequest"
Hi,

I would like to have 2 forms in one view ( login form and register form).

I just edit the view selection in `config/sentinel.php`

[code]

I've a problem with errors display. Without error bag in FormRequest it's complicated. How I can do ? Do you have a idea about how to solve this problem neatly ?

Best,

PS : Sorry for my english. It's not my native language. Sorry if my question sounds s

[2016-11-22 20:46] brunogaspar commented on #300
Hi,

It seems that you are on the incorrect repository and you seem to be using https://github.com/rydurham/Sentinel

Let me know if you have any questions.

[2016-11-22 20:46] #300 closed

[2016-11-25 06:36] GhulamJafar opened #301 "Method Cartalyst\Sentinel\Sentinel::hasAccess() can only be called if a user is logged in."
When I check permission `Sentinel::hasAccess('application.applications.index')` in controller it returns true. Its fine. But when i try to check same permissions in sidebarmenu creator class, it return the following error. However i am already logged-in.
**Method Cartalyst\Sentinel\Sentinel::hasAccess() can only be called if a user is logged in.**

My sidebarcreator class.
`<?php namespace Modules

[2016-11-25 06:50] pankitgami opened #302 "[Question] : How can I use only user throttling?"
I am using sentinel for my Laravel application. I am authenticating the user with Sentinel::authenticate($credential). But when I pass wrong credential for 5 times it checks all the throttling types i.e, "global", "ip" and "user".
I want to do only user throttling.

Try 1:
I removed global and ip array from config file. I am using custom model for throttling.

    'throttling' => [

        'model

[2016-11-25 07:08] pankitgami commented on #302
Found an issue:
You are providing the default values in IlluminateThrottleRepository. So if I don't provide any key it will take the default value.

Here is your code.

    /**
     * The interval which failed logins are checked, to prevent brute force.
     *
     * @var int
     */
    protected $globalInterval = 900;

    /**
     * The global thresholds configuration array.
     *
     * If an

[2016-11-25 12:22] brunogaspar commented on #301
What version of Laravel and how is this class instantiated/used?

[2016-11-25 12:25] brunogaspar commented on #302
Don't believe it's possible to use only user throttling by default.

You'll need to most likely create your own throttling implementation i guess

/cc @suwardany

[2016-11-25 12:51] GhulamJafar commented on #301
I am using Laravel 5.2 & Sentinel 2.0

Actually I am using Nwidart Module system and "maatwebsite/laravel-sidebar": "~2.1" to create sidebar. This class is instantiated by core module's class **" AdminSideBar"** to build menu, Please see below
`<?php namespace Modules\Core\Sidebar;

use Illuminate\Contracts\Container\Container;
use Maatwebsite\Sidebar\Menu;
use Maatwebsite\Sidebar\ShouldCache;
use

[2016-11-25 13:14] pankitgami commented on #302
@brunogaspar Won't this be good feature??
As you mentioned in the documentation, global throttling will lock the whole site. It is a good feature as it prevents DDos attack. But It might be a bad idea to set it as default. We can provide it as optional throttling configuration.

I am inviting you all for discussion on this.

[2016-11-26 12:52] Thorazine opened #304 "Add attributes to Persistence"
In a new clean and shiny project I'm building I need to add attributes to the persistence table. It seems like the perfect place to add browser, device and location information. So I have created my own model and extended it with Cartalyst\Sentinel\Persistences\EloquentPersistence. This obviously works like a charm.

But now I need to add additional data to the Persistence model on create only and

[2016-11-27 03:19] GhulamJafar commented on #301
Any Help? I am stucked? Why is this happening?

[2016-11-27 11:02] brunogaspar commented on #301
I would contact the author of that sidebar package as i'm not seeing this being an issue with Sentinel, since it works on your application already.

[2016-11-27 11:02] #301 closed

[2016-11-28 07:06] pankitgami commented on #304
Hi,

One solution is that you can override the save method in your model.

    use Cartalyst\Sentinel\Persistences\EloquentPersistence as SentinelEloquentPersistence;

    class EloquentPersistence extends SentinelEloquentPersistence
    {
        public function save(){
             // your code
         }
    }

[2016-11-29 05:35] pankitgami opened #307 "Throttling threshold mismatch."
If I set throttling threshold as 1, yet it is allowing me to enter password 3 times. Theoretically, it should allow me to enter password 2 times.

[2016-12-01 05:18] HeathNaylor opened #308 "[Proposal] Tightly Coupled to Eloquent"
Looking to use this in a pet project, nothing major. Noticed a tight coupling to Eloquent throughout. Looking through the source I believe I can shim in support for something like Doctrine or Propel, but found it interesting that this was not created in near zero-dependency fashion. Is this something that you would entertain decoupling in the future? I might have interest in doing some contributio

[2016-12-01 07:32] HeathNaylor commented on #308
Went through implementing the native Sentinel via the facade, ended up needing `illuminate/events` and `symfony/http-foundation`. I did not see this documented anywhere. Would you be open to a PR for just the README for the time being and then further discussion on decoupling the models and repositories?

[2016-12-01 22:06] butchewing opened #309 "Class 'Sentinel' not found"
I'm using Laravel 5.3. Everything is working as expected in my local environment. However, when I push to the dev server, Laravel is not able to find Sentinel.

[2016-12-01 23:56] brunogaspar commented on #309
You most likely have a missing import somewhere on your code.

[2016-12-01 23:56] #309 closed

[2016-12-01 23:59] brunogaspar commented on #308
Sentinel uses Eloquent by default, but you can create your own implemention and extend Sentinel to use your implementation instead.

Here's a topic that has a Doctrine implementation https://github.com/cartalyst/sentinel/issues/255.

These are being suggested through Composer, but you are more than welcomed to create a PR to the documentation.

[2016-12-01 23:59] #308 closed

[2016-12-02 10:36] farmanalikhan opened #310 "User->inRole error"
The inRole function on the user model matches the passed role with the first use role and returns.
It should not return until a match is found or the end of user->roles.

[2016-12-02 10:49] brunogaspar commented on #310
It's possible that this is already fixed but not tagged, please try to change your dependency on your `composer.json` file to `"2.0.*@dev"`, run `composer update` and check if the issue still persists.

If the issue still persists, you're more than welcomed to submit a PR with a fix.

[2016-12-02 11:00] #298 closed

[2016-12-05 05:50] farmanalikhan commented on #310
Thanks brunogaspar , this issue is fixed in the "2.0.*@dev".

[2016-12-08 18:57] Langdi opened #311 "Sentinel::getUser() on external php file"
Hi,
I am trying to use Sentinel in an external (i.e. not using Laravel) PHP File, in my specific case ArrowChat. To get the correct friend list for each user, I have to get the User currently logged in. The login happens all in the laravel application, I just need to retrieve it somewhere else.

Right now I just have:

[code]

However, I always get `null` as a result (even though the user is logge

[2016-12-11 09:21] Frondor commented on #302
Well, in my opinion what @pankitgami is trying to do should be the default behavior. Just think of people login from the same LAN or cybercafé, that would be a real mess to handle.

[2016-12-11 17:07] drsii commented on #302
It's a major change that will be addressed in the next version of Sentinel. Concerns are valid, we agree. We don't have an immediate solution for you but will update this ticket once we do. Well done pointing out the limitation.

[2016-12-12 04:16] pankitgami commented on #302
@drsii Is there any way I can help regarding this issue??

[2016-12-12 05:44] pankitgami commented on #302
There is one workaround for this issue:
If you set interval and threshold to `0` it won't check for that throttling.

But it will store unnecessary data to database.

[2016-12-12 07:37] Frondor opened #312 "[Question] Why JSON permissions and not Eloquent relationships?"
I've noticed the permissions are stored as a json object in the DB instead of the common `Role/Permissions` practice with `Eloquent` relationships, why is that?
I don't feel like that's a good practice, although I think its better in terms of performance (unless Eloquent relationships are somehow cache'd, then that's not the case), not sure... I'm confused

[2016-12-16 10:58] nhg2016 opened #314 "Generating permission based on a list of controller methods"
Hi,

Is there a way I can generate a list of permissions for a role based on the methods within a controller?
I am trying to implement an ACL system where controllers are parsed and the methods with specific tags will be extracted and permissions generated.

Any ideas or am I over complicating things?

Thanks

Nhg

[2016-12-19 11:02] brunogaspar commented on #312
It was more efficient to store these as json instead of having a has many relation.

If you really want to use relations, you're free to extend Sentinel, i personally never tried nor had any need to use it that way.

[2016-12-19 11:02] #312 closed

[2016-12-19 11:06] brunogaspar commented on #310
Cool. We'll release a new tag very soon.

[2016-12-19 11:06] #310 closed

[2016-12-19 11:08] brunogaspar commented on #297
I believe you'll need to extend the Sentinel models and change from `belongsToMany` to `belongsTo` perhaps?

[2016-12-19 11:08] #297 closed

[2016-12-19 11:09] brunogaspar commented on #304
You can do probably like how @pankitgami suggested or extend the Persisistences repository and store the extra data you need.

[2016-12-19 11:09] #304 closed

[2016-12-21 08:19] lorvent commented on #309
in config/app.php, under aliases array, you might missed to add Sentinel alias

[2016-12-23 20:47] rikdavis opened #315 "Documentation issue as a newb"
So, I'm rather new to Laravel and in attempting to follow the documentation on [https://cartalyst.com/manual/sentinel/2.0#native](url) I'm struggling with certain assumptive elements of the instructions,

The code block referenced in this section provides no indication as to where that code lives and I'm embarrassed to admit that since I am so new to Laravel, I don't know what file I would use tha

[2016-12-23 22:30] brunogaspar commented on #315
Hello,

Nothing to be embarrassed of :)

If you're using Sentinel on Laravel, you'll need to follow the instructions to install on Laravel only https://cartalyst.com/manual/sentinel/2.0#laravel-5, the link you mentioned is for usage outside of frameworks.

The rest of the documentation applies pretty much for both, Laravel and native integration.

Let us know if you have any more questions or issu

[2016-12-23 22:30] #315 closed

[2016-12-25 02:17] rikdavis commented on #315
Thanks so much for that timely and very informative response. Very appreciated!

[2016-12-27 23:32] Arifi commented on #160
Hi.. me too just can't use it, no idea what should i compose :/
Fatal error: Uncaught Error: Class 'Symfony\Component\HttpFoundation\Request' not found in ....\sentinel\src\Native\SentinelBootstrapper.php:223 Stack trace: #0

[2017-01-02 06:38] GhulamJafar commented on #301
How told you that my issue is resolved? How can you mark that my issue is resolved? I am still having the issue.

[2017-01-02 10:48] Whyounes opened #316 "Separate migration files"
We do we have all the migrations in one file? It's better to have a separate file to ease modifications?

[2017-01-02 10:51] Whyounes commented on #316
Another note. Laravel already have a migration file for the users table, and Sentinel has migration for creating the users table! I think it should `alter` the table and create the necessary DB fields needed

[2017-01-02 10:52] brunogaspar commented on #316
It's fine as is, but you can make separate migration files on your application.

No. You should remove the initial migrations from Laravel. It's stated on the [documentation](https://cartalyst.com/manual/sentinel/2.0#migrations).

[2017-01-02 10:52] #316 closed

[2017-01-02 10:55] brunogaspar commented on #301
@GhulamJafar As i mentioned on my last reply, you should contact the author of that sidebar package/module you're using to get support, since your issue doesn't seem to be related to Sentinel, as Sentinel is already working fine on your application as you mentioned.

[2017-01-07 15:17] hizbul25 commented on #251
I am using Sentinel with Laravel 5.3 .
Inside the login method

Sentinel::authenticate($credentials)

works fine and each time i get user object from Sentinel::check() after successful login.

But problem arise after redirect, and Sentinel::check() showing false inside the route, middle-ware, views. Any idea about the issue?

[2017-01-08 15:29] brunogaspar commented on #251
@hizbul25
- Make sure that you've followed the steps to install Sentinel properly;
- Make sure that you've the correct permissions, per Laravel documentation;
- Make sure that your routes are using the `web` middleware;
- Also check [this](https://laravel-news.com/controller-construct-session-changes-in-laravel-5-3) which is a common user error on Laravel 5.3+;

Other than that, we'll need to see

[2017-01-10 14:38] favoriabs opened #317 "Sentinel::authenticate doesn't work."
I've put in all the configurations i saw on the cartalyst site. I seeded a user and a role and tried to use the `Sentinel::authenticate()` method. Its returning a false. Am not sure what i am doing wrong.
`<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use Sentinel;

class AuthenticationController extends Controller
{

    public function logIn(Request $request) {

        $t

[2017-01-10 15:10] favoriabs commented on #317
Sorted:
I had encrypted my password in the seeder file. Apparently sentinel doesn't recognized the hashed password. I removed the bcrypt function and everything was fine.

PS:
Still surprised sentinel didn't have this covered.

[2017-01-10 15:10] #317 closed

[2017-01-10 19:26] ahmedbebars opened #318 "[Proposal] Save user permissions in separate table"
I want o use this package for SAAS application , while architecturing the app , Each User may be in differnet accounts so this would have a conflict with the permissions save on the users table , instead if the permissions are saved in sperate table this will solve the problem becuase will allow the user to have a permission row per each account.

 Steps:
-Remove permissions from users table
-Crea

[2017-01-10 22:38] brunogaspar commented on #318
Pretty much the same as https://github.com/cartalyst/sentinel/issues/312 so the recommendation is the same.

[2017-01-10 22:38] #318 closed

[2017-01-11 01:15] ahmedbebars commented on #318
@brunogaspar I think you misunderstand me, I see the point for using JSON and I prefer this way as you recommend but the point here is different, as I mentioned earlier the user may have membership with multiple accounts so in the current implementation the permission was saved in the user row so this will effect both account's memberships but if we saved the permissions in different table we can

[2017-01-11 15:02] brunogaspar commented on #318
The suggestion is still the same. For your use case you'll need to extend Sentinel models to use a different table for the permissions, there's no other way around it i believe.

[2017-01-12 02:37] JVMartin commented on #166
This is still an issue, why can't this be fixed to support Laravel testing?

[2017-01-14 21:55] alanondra commented on #264
For user activation, when the user registers I create an activation, then fire an event on user registration which notifies the created user with a link to an activation page. When the user goes to the activation page it uses the user ID and code to find the activation and calls complete. If all goes well I redirect the user to the login page with a success message. In 5.2 you probably have to man

[2017-01-18 19:43] Cyrille37 opened #320 "Laravel 5.x EloquentUser should implements Authenticatable"
Hi,
Thanks a lot for open sourced Sentinel!

In Laravel 5.x, there is the TestCase's trait method `Illuminate\Foundation\Testing\Concerns\ImpersonatesUsers::actingAs( Illuminate\Contracts\Auth\Authenticatable )` that is not compatible with `Cartalyst\Sentinel\Permissions\PermissibleInterface\EloquentUser`.

`Cartalyst\Sentinel\Permissions\PermissibleInterface\EloquentUser`should implements`Illumin

[2017-01-19 10:52] alpha-hawk opened #321 "Bug in checkPermission() method"
[code]

In case, array of prepared permissions has a 'zero' index this function always returns the value at it.

Like if there is a 'true' on index zero user will have permission to everything or if there is 'false' on this index user will have no access to anything.

[2017-01-19 11:27] brunogaspar commented on #321
I've formatted your post a little bit, so it's more readable.

If you find a way to fix it, feel free to submit a PR.

[2017-01-19 11:29] brunogaspar commented on #320
I've the feeling that's incorrect, since Sentinel is not using any Laravel authentication nor they are the same thing.

But will leave for @suwardany to evaluate.

[2017-01-19 12:00] Cyrille37 commented on #320
Thanks @brunogaspar

But then, how to use Sentinel logged-in user in TestCase ?
Like:
[code]

[2017-01-22 07:34] hizbul25 opened #323 "Accessing `Snetinel` facade in our web application controller after login through API"
In our web application, we are using API for auth and registration. In the API end we are using Sentinel for authentication and return `user` object as `json` data.
So, in web application end we have user object and we can check user existence upon `$currentUser` session. Problem arise when we try to access `Sentinel::inRole()` in the website end, and system can't find `Snetinel` facade.

So, how

[2017-01-22 12:31] brunogaspar commented on #323
You're most likely not importing the Sentinel facade class properly.

At the beggining of your class file add `use Cartalyst\Sentinel\Laravel\Facades\Sentinel;` and it should work.

[2017-01-22 12:31] #323 closed

[2017-01-23 07:58] suwardany commented on #321
@alpha-hawk why would a prepared permission have a zero index in the first place?

[2017-01-24 09:56] alpha-hawk commented on #321
I understand that, but if due to some unfortunate incident on part of the programmer once a zero has been placed inside the array, all permissions will just collapse.
As we are dealing with the site permissions here, I think we should handle these kind of issues. It is very easy to place a zero inside the array but it should not affect the whole permissions.
If you don't find that important please

[2017-01-24 13:30] a3gz commented on #321
If a zero index is an undesired condition, then shouldn't the condition be checked before it ever reaches the `checkPermission()` method?

You are assuming that the permission array `[0 => true]` is always undesired, however it would be one possible way to grant super user access to a user.
In any case, in my opinion, this shouldn't be up to Sentinel to decide whether this condition is acceptable

[2017-01-25 10:04] alpha-hawk commented on #321
I understand that.
But, don't you think an application should not fall so easily for these kind of errors?

[2017-01-25 22:02] a3gz commented on #321
The thing is that it's still to be determined that the specific condition under discussion is in fact an error and even more: an error that can be attributed to Sentinel.

In my opinion this: `[0 => true]` is as much an error as an array with all possible permissions set to true.
It's not uncommon to use the value zero to represent infinite or all possible values in a collection. From that point o

[2017-01-26 21:26] a3gz commented on #314
There is a way but not within Sentinel of course: you can use PHP's `ReflectionClass' to scan for methods inside each of your controllers.

[2017-01-27 18:54] Cyrille37 commented on #320
@brunogaspar I agree that Sentinel does not use any Laravel auth stuff, but it should be compatible with some contracts to permits a smooth Sentinel integration in Laravel ecosystem (others packages & tools). Or perhaps I miss some knowledge...

[2017-01-27 18:59] suwardany commented on #320
@Cyrille37 not seeing the point here, as Bruno mentioned, these are two different packages which are not meant to be functioning together in any way.

[2017-01-27 18:59] #320 closed

[2017-01-27 19:00] Cyrille37 commented on #320
@suwardany I do not talk about Laravel Auth implementation compatibility but about Laravel Auth contract that permits compatibility with other packages...

[2017-01-27 19:16] suwardany commented on #320
@Cyrille37 i understand you're talking about the contract, i still don't think this should be part of the sentinel pacakge .. if you really need it, you can override the user model and implement the contract.

[2017-01-27 19:28] Cyrille37 commented on #320
So, I could not find any idea on how to replace `$this->actingAs( $user )` in Test ?

[2017-01-27 19:32] suwardany commented on #320
Check out this wiki page on how to extend sentinel https://github.com/cartalyst/sentinel/wiki/Extending-Sentinel

Just implement the contract on that new user class and you should be able to use it on your tests.

[2017-01-27 19:37] Cyrille37 commented on #320
Ok. Thanks.

[2017-01-27 19:51] Cyrille37 opened #324 "QueryException, Specified key was too long, table `persistences` add unique `persistences_code_unique`(`code`))"
Hi,

Just starting a new project with Laravel 5.4.6, MariaDB 10.0.29 and cartalyst/sentinel 2.0.*.
At `./artisan migrate` an exception occured:

[code]

[2017-01-27 19:56] brunogaspar commented on #324
This is not an issue with Sentinel by itself, it happens with the generic Laravel migrations.

You have a couple ways to fix this:
- Use MySQL 5.7
- Enable `innodb_large_prefix`
- Or https://laravel-news.com/laravel-5-4-key-too-long-error

Hope it helps.

[2017-01-27 19:56] #324 closed

[2017-01-27 20:02] Cyrille37 commented on #324
Thanks a lot @brunogaspar  !!
I use https://laravel-news.com/laravel-5-4-key-too-long-error solution.
Cheers.

[2017-01-28 08:50] Cyrille37 opened #326 "migration table reminders miss table->engine like other tables"
Hi,
Is there a reason or it's just a miss ?
Cheers

[2017-01-28 13:10] brunogaspar commented on #326
Seems to be there https://github.com/cartalyst/sentinel/blob/2.0/src/migrations/2014_07_02_230147_migration_cartalyst_sentinel.php#L62

[2017-01-28 13:10] #326 closed

[2017-01-29 21:27] Cyrille37 commented on #326
Hi.
But not in 2.0.13 https://github.com/cartalyst/sentinel/blob/v2.0.13/src/migrations/2014_07_02_230147_migration_cartalyst_sentinel.php#L54

[2017-01-30 08:25] suwardany commented on #326
@Cyrille37 this has been tagged now. `composer update` and you should receive the latest update.

[2017-02-02 13:47] mikromika opened #327 "After ran php artisan migrate, getting error."
[Illuminate\Database\QueryException]

  SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key
  length is 767 bytes (SQL: alter table `persistences` add unique `persistences_code_unique`(`code`))

- I am follow up video
   https://youtu.be964-xdghBOY?list=PL3ZhWMazGi9KB9PajJHWvV2NJ1ITNoNGp
- I have deleted default migration files for users and password_reset t

[2017-02-02 13:49] brunogaspar commented on #327
Hi,

Please see my comment [here](https://github.com/cartalyst/sentinel/issues/324).

[2017-02-02 13:49] #327 closed

[2017-02-02 13:52] mikromika commented on #327
Thanks.

[2017-02-08 21:53] Germanaz0 opened #328 "Laravel Passport support"
It is possible to make it works for laravel passport, I used the sentinel user and extended using the Authenticatable class.

But when I do `$request->user()` is null

[2017-02-08 22:19] Germanaz0 commented on #328
This is the user model that I've been using, which is a mix of sentinel model and user model

[code]

[2017-02-08 22:27] brunogaspar commented on #328
Hi @Germanaz0

While i understand the usage of this, i don't think it's really ideal, at least not in the current version to override this on Sentinel (to avoid breaking changes and so on), but we'll consider doing this on the next major version though as it's a good idea.

However, you can achieve the desired effect by adding something like the following to your `AppServiceProvider`:

[code]

/cc

[2017-02-08 22:27] #328 closed

[2017-02-08 22:49] Germanaz0 commented on #328
I setted this on boot method, the code seems to be right, but the main issue is that `$app['sentinel']->getUser()` is null, is there something that I can do ?

[2017-02-08 22:56] brunogaspar commented on #328
What Laravel version you're using? Also have you tried to move the code into the `register()` method instead?

[2017-02-08 23:00] Germanaz0 commented on #328
Laravel Framework 5.4.9

Yes, I was testing it on register but does not work the setter `setUserResolver`

I also was looking at SentinelServiceProvider, there is already a method doing that

[code]

[2017-02-08 23:02] Germanaz0 commented on #328
Update: I've commented the rebinding into `SentinelServiceProvider` and now the $request->user() using `Authorization: Bearer {{access_token}}` header works correclty.

[2017-02-08 23:06] Germanaz0 commented on #328
Is there some way to unbind that from sentinel without comment the line ?

[2017-02-11 07:33] underdpt opened #329 "Documentation page is down"
Hi,

For a few days now, manual seems to be down. Either it shows a the manual without styling, or throws a 403 forbidden error.

Also, this seems to affect all https://cartalyst.com/. I can open cartalyst.com, then go to the manual, get a 403 error,, and when going back to cartalyst.com, it also throws a 403 error.

[2017-02-11 15:14] brunogaspar commented on #328
Oh right, i tottaly forgot this was being done already :)

Not really sure what you mean, if it's working with the same code on your service provider it should work on the Sentinel service provider.

[2017-02-11 15:16] suwardany commented on #329
This should be fixed, give it another try and let me know if you're still having issues @underdpt

[2017-02-11 15:18] #329 closed

[2017-02-11 17:08] underdpt commented on #329
Thanks!

[2017-02-15 03:32] sugo23 opened #331 "Email-Change and send Reminder: Users can't login while not activated"
I found this problem:

When I allow the users to change their email addresses, I have to send a Reminder, so they have to reactivate their account.

The problem is, that after that, they cannot login anymore (till the account is activated again). So when a user has a typo in his new email address, he is locked out..

I guess for now one has to change how Sentinel deals with Reminders. Is that poss

[2017-02-16 21:21] unstoppablecarl commented on #136
I propose adding this snipped to the readme.

[2017-02-18 18:20] Langdi commented on #311
Almost forgot about this issue, but I found a solution to this. I edited arrowchat's integration.php to look like this:

[code]

Definitely not a very pretty or efficient version using `global` and stuff, but at least for now it works.

[2017-02-18 18:20] #311 closed

[2017-02-19 10:24] kavin-90 commented on #267
I can't get it work on native one my code is

`Sentinel::getUserRepository()->setModel('User');`
because i don't need Namespace for models.

for only Sentinel and eloquent i need to use full path.

when i dd($user) i got `Cartalyst\Sentinel\Users\EloquentUser Object` but no relationship

[2017-02-21 15:18] atxy2k opened #332 "Question about activation"
how know if one user is activated?

[2017-02-22 02:58] PankajSanam commented on #332
You can check if a user is activated or not by using this-

$user = Sentinel::findById(1);

if (Activation::completed($user)) {
    // User account is activated
} else {
    // Not activated
}

This is clearly mentioned in the Sentinel docs.

[2017-02-22 08:25] brunogaspar commented on #332
Yup, do as @PankajSanam mentioned.

It's covered on the documentation https://cartalyst.com/manual/sentinel/2.0#activation-completed

[2017-02-22 08:25] #332 closed

[2017-02-22 19:41] daison12006013 commented on #328
For normal authorization, in the AuthServiceProvider under register()

you may add the same code after registerPolicies()

[code]

Had a problem on the L5.4 as well with this under /oauth/* endpoints which `$request->user()` is null

[2017-02-23 01:32] victorolowe commented on #134
Disabling throttling doesn't work. It's still throwing exceptions...Any help please
I'm using Laravel 5.4

[2017-02-23 13:12] Germanaz0 commented on #328
@daison12006013 but what if I want to login using oauth ? probably I should add some logic in rebinding function, checking if we are using oauth or not, and return Auth::user or sentinel->getUser

[2017-02-23 21:44] martyolson commented on #328
Hi,

I am attempting to use laravel-passport for api requests and Sentinel for user authentication. The Laravel version I'm testing this with is 5.4.13.

As Germanaz0 pointed out on February 8th I see that when commenting out `$this->setUserResolver();` on line 63 in the SentinelServiceProvider the $request->user() works correctly with the laravel-passport setup here https://laravel.com/docs/5.4/p

[2017-02-24 00:41] imagine10255 commented on #274
Hi, why not any error (throw) ?

[2017-02-24 02:15] daison12006013 commented on #328
@Germanaz0 @martyolson are you guys having multiple domain on your 1 single project? Why not separate the API/Native Auth of laravel on a separate repo, then separate the actual product to use Sentinel. Then if you stil using the same resources such as Models/Providers/Middlewares, setup git submodule or create a composer package internally.

[2017-02-24 09:40] Rizarma opened #333 "Cannot authenticate user"
So, i was planning to add default user through seeder, everything was fine, i was using `registerAndActivate($credentials)` database is filled & user is activated.

The problem is, i cannot login with the user created from tinker & seeder but when i try to create/register through a form, user is able to login.

I am using the same logic to create the user for tinker, seeder & controller.

I got no

[2017-02-24 11:07] brunogaspar commented on #333
What Laravel version?

How are you authenticating?

[2017-02-24 13:18] Rizarma commented on #333
I'm using Laravel 5.4, it's solved now i guess
Using `authenticate()` then changing to `login()` method
I can't figure it out why `authenticate()` method doesn't work if used to login with credentials created from tinker/seed, it keeps rejecting & throttling the user..

[2017-02-24 18:36] atxy2k commented on #332
Yes, but what I wanted to know, was if the user had some attribute, for example:

<pre>$user->is_active</pre>

I solved it extending the User class and adding the following:

<pre>
public function getIsActivatedAttribute()
{
        $activation = Activation::completed($this);
        return !is_null($activation) && $activation!=false;
}
</pre>
Now i can use  without problems
<pre>
$user->is_activa

[2017-02-24 19:01] brunogaspar commented on #332
@atxy2k

There are no such accessors due to the fact that this type of functionality can be removed/disabled and therefore, calling such accessors would be redundant :)

But you can obviously extend [Sentinel](https://github.com/cartalyst/sentinel/wiki/Extending-Sentinel) and add this functionality to your user model.

[2017-02-24 21:02] paligiannis opened #334 "Support for Laravel 5.4"
Is sentinel working fine with laravel 5.4?
What's the difference with entrust?

[2017-02-24 21:03] #334 closed

[2017-02-26 08:02] Rizarma commented on #333
Just in case someone see this

**Registration Controller**
[code]

**Seeder**
[code]

**Login**
[code]

[2017-02-26 10:35] #333 closed

[2017-02-26 12:00] brunogaspar commented on #331
@sugo23 You'll most likely need to [Extend Sentinel](https://github.com/cartalyst/sentinel/wiki/Extending-Sentinel) and modify the logic you need, either on the models or on the repositories.

Other solution would be to create a custom Activation checkpoint, that way you can still allow the users to login after they change the email address, but maybe show limited functionality.

[2017-02-27 03:10] jscavazos opened #335 "How can i use correctly remember me"
Im trying to use this feature but i just cant know how to implement it since there is no documentation about this.

i know i need to set remember me as true when i authenticate but then what i need to do for the user not need to write his username and/or password again to login.

could someone help me? please

[2017-02-27 11:27] brunogaspar commented on #335
Just create a checkbox input called remember-me for example that contains the value of 1 and when logging the user in, you retrieve that checkbox value and use that on the Sentinel authenticate method.

If that's not it, just elaborate a bit more on what you're having problems with by providing the code that you currently have.

[2017-02-27 11:27] #335 closed

[2017-02-27 15:11] jscavazos commented on #335
Thank you for answer, well what i mean is that i do all u are saying, i have my checkbox on login page and when the user log in, i use Sentinel::login($user, true) then in my code this redirect to my home page with a welcome message and my username all works perfectly, i actually send true as second parameter in Sentinel::login because all i want to know is if when the user log out and want to log

[2017-02-28 03:56] juandelossantos commented on #317
Thanks @favoriabs, after hours l found this Issue post and was the same problem that i had. 👍

[2017-02-28 04:55] favoriabs commented on #317
You welcome. Glad it helped.
On Feb 28, 2017 04:56, "david emilio sierra puentes" <
notifications@github.com> wrote:

[2017-03-02 05:12] kavin-90 opened #336 "Native Sentinel: My User Model never used by Sentinel"
I'm using Native Sentinel but My Eloquent user model never used when i use.

**`Sentinel::getUserRepository()->setModel('User');`**

I don't need namespace because User model does not need namespaces to use.

It use own Model until i didn't change config file of Sentinel.

[2017-03-02 08:32] suwardany commented on #336
@kavin-90 check my comment here https://github.com/cartalyst/sentinel/issues/263#issuecomment-233057343

It should address your issue.

[2017-03-02 08:32] #336 closed

[2017-03-02 09:37] kavin-90 commented on #263
@suwardany  thanks but why `Sentinel::getUserRepository()->setModel("MyEloquentUser");` not works?

[2017-03-02 09:41] suwardany commented on #263
It does work, there are various instances where the user model is required though. https://github.com/cartalyst/sentinel/blob/2.0/src/Native/SentinelBootstrapper.php#L150-L174

[2017-03-02 09:42] kavin-90 commented on #263
@suwardany thanks

[2017-03-03 05:41] leezene opened #337 "How to get all user"
how do i get all the registered user on the system

`$users` = Sentinel::getUser();
    	return view('admin.userlist',compact('users'));

[2017-03-03 08:19] BKSaaki opened #338 "How do I implement role based menus?"
I want a menu item displayed only to admin. How do I implement this?
I tried
@if (Sentinel::getUser()->roles()->first()->slug == 'admin')
 // menu item
@endif

It didn't work :/

[2017-03-03 09:53] brunogaspar commented on #337
Something like this

[code]

[2017-03-04 08:53] kavin-90 commented on #264
For Native version ?

[2017-03-04 12:12] a3gz commented on #264
I built my processes based entirely on this blog: https://naomiaro.com/tag/sentinel

@kavin-90 If you use a Native Sentinel installation (like me) you'll have  to filter all the Laravel specific code and translate it to your own environment; but once you figure out that, all the rest is essentially the same.

Regards.

[2017-03-04 13:54] kavin-90 commented on #264
sentinel has some code which has same function like check() and getUser and guest()  for guest same check() will work and migration is easy also i fixed sentinel mysql 5.6.x sql file because it has mysql syntax error for timestamp column there was 2 column using same thing which mysql point out and said only one column can use current_timestamp

somehow i'm getting PHPSESSID cookie than sentinel c

[2017-03-05 03:35] leezene commented on #337
and how to show the roles of the users.

[2017-03-05 03:45] brunogaspar commented on #337
Try with `$users = Sentinel::getUserRepository()->with('roles')->get();`

It's pretty much [Laravel Eloquent](https://laravel.com/docs/5.1/eloquent).

[2017-03-05 06:10] leezene commented on #337
when i want to show the role
`{{$users->roles->name}}`
it show the error.

[2017-03-05 12:11] brunogaspar commented on #337
Since a user can have as many roles, you'll need to loop through the roles and then display the role name.

[2017-03-05 22:22] majweb opened #339 "How implements select with roles. Change it updated?"
I have question How You implemets roles i selectbox update and selected?

[2017-03-05 22:43] majweb commented on #339
I use getRolerepository->get() as $roles variable and use foreach in select option tag but I see all roles i want see role selected by User and i want changed and updated role. Laravel 5.4.

[2017-03-07 11:57] ayubDev opened #340 "verify the permissions on blade ?"
Hi Guys

I have a question about how can I verify the permissions on blade ?

[2017-03-07 18:46] brunogaspar commented on #339
As far as i know you'll need to pass the current user roles as the 3rd argument on the `Form::select` method.

If that doesn't work you'll need to create an issue on the Laravel Collective repository as this is not an issue on Sentinel.

[2017-03-07 18:46] #339 closed

[2017-03-07 18:46] brunogaspar commented on #340
Please elaborate on what you're trying to achieve.

[2017-03-08 09:00] ayubDev commented on #340
I wanna find out the functions I can to use in blade to verify the permissions , for example in controller we do this : `
[code]

[2017-03-08 09:18] brunogaspar commented on #340
You can use pretty much everything, just update to blade syntax.

[2017-03-08 09:18] #340 closed

[2017-03-08 09:22] ayubDev commented on #340
could you please give me an example?

[2017-03-08 09:26] brunogaspar commented on #340
Pretty much

[code]

[Laravel documentation](https://laravel.com/docs/5.1/blade#control-structures) covers it all.

[2017-03-08 09:28] ayubDev commented on #340
ah thank you friend

[2017-03-12 23:18] knour89 opened #342 "how senstinel do encrypt user password"
i want to know the function you are using to encrypt password

[2017-03-13 01:52] drsii commented on #342
https://cartalyst.com/manual/sentinel/2.0#hashing

[2017-03-13 01:52] #342 closed

[2017-03-13 03:09] drsii commented on #338
We assume the question has been answered, @BKSaaki feel free to reopen if necessary. Code well, rock on!

[2017-03-13 03:09] #338 closed

[2017-03-13 03:09] drsii commented on #337
We assume the question has been answered, @leezene feel free to reopen if necessary. Code well, rock on!

[2017-03-13 03:09] #337 closed

[2017-03-13 03:14] drsii commented on #331
@sugo23  We assume the question has been answered, feel free to reopen if necessary. otherwise code well, rock on!

@suwardany add note to review our default reminder workflow for Sentinel 3 to decide if we want to make any changes here.

[2017-03-13 03:14] #331 closed

[2017-03-13 03:36] drsii commented on #321
@alpha-hawk I understand your concern and we'll look to clarify documentation on this for Sentinel 2.

@suwardany make a note to review pros/cons regarding this issue for S3. Our premise has always been for permissions to override and fall back. Circumvention of this behavior from the root node of a permissions array introduces a single point of entry.

[2017-03-13 03:54] #314 closed

[2017-03-14 13:53] rommelandrea opened #343 "Activation on multiple users"
Hi,
I'm using Sentinel 2.0 with Larvel 5.1. I need to display a list of user with activation status.
At the moment, to check if it is actived i need to call `$activation = Activation::completed($user)` for each user and it create to much query (one for each user).
It's possible to reduce number of query?

[2017-03-15 13:02] cbj4074 commented on #343
I don't know that there is a built-in method for this, but you can easily query the database using Laravel's Query Builder or Eloquent.

[2017-03-16 09:06] pankitgami opened #344 "Laravel 5.4 Support"
@brunogaspar As Laravel 5.4 is released, are you guys working on upgrade to 5.4?

[2017-03-16 09:09] drsii commented on #344
Are you experiencing issues?

[2017-03-16 09:35] pankitgami commented on #344
@drsii I am starting a new application. So I was checking whether you are working on upgrade or not. If you want, I can have a look at it and let you know.

[2017-03-16 09:37] drsii commented on #344
You should be good to go. Cartalyst Platform 7 was released a couple weeks ago for Laravel 5.4 https://platform.cartalyst.com which uses Sentinel.

[2017-03-16 09:57] brunogaspar commented on #344
It already has support for Laravel 5.4.

If you encounter any issues, just open a new ticket per issue.

[2017-03-16 09:57] #344 closed

[2017-03-16 14:20] highnoon112 opened #345 "php artisan platform:install gives pdo exception error"
after playing a bit with sentinel Ive decided to go for a fresh install of Platform.

Ive gone trough the installation process through git bash and eventually get below shown pdo exception error. Ive also tried the browser install but the page looks like this:

https://uploadpie.com/GH6a5T

I cant accept the terms and installing Platform through the  browsers gives me the same error as shown below

[2017-03-16 14:21] suwardany commented on #345
Hello @highnoon112 .. this is actually related to Platform not Sentinel.

Check https://github.com/cartalyst/platform/issues/314

[2017-03-16 14:21] #345 closed

[2017-03-16 14:30] highnoon112 commented on #345
Thanks for the incredible fast answer. Bit pity Ive lost half a day figuring out what I did wrong. Ill blame it on my unsufficient laravel knowledge.

Have a nice day

[2017-03-16 14:30] suwardany commented on #345
Always welcome, @highnoon112 !

Have a great day.

[2017-03-17 22:11] knour89 opened #346 "cant update user with null password"
i have a form for updating user info with password filed.
if user insert new password so it should update the column and if user didnt insert any thing i need to remain the old password.
i used below code and it give me error

    public function update(Request $request, $id)
    {
        $user = Sentinel::findById($id);
        //
        $this->validate($request, [
            "first_name"=>"re

[2017-03-17 22:14] knour89 commented on #342
i cant understand it, if i need to has 1234 what should i do?

[2017-03-17 22:30] knour89 commented on #346
fixed
         $input = $request->except('password');
         Sentinel::update($user, $input);

[2017-03-17 22:34] knour89 commented on #346
Fixed

      if(trim($request->password) != '' || trim($request->confirm_password) != ''){
             $this->validate($request, [
                "password"=>"required",
                "confirm_password"=>"required|same:password",
            ]);
             $input = $request->all();
        }else{
            $input = $request->except('password');
        }

[2017-03-17 22:42] knour89 opened #347 "how i can retrive the realtion between users table and activations table?"
how i can retrive value of completed column in activation table for users and for specific user also

[2017-03-18 00:27] #346 closed

[2017-03-18 00:29] brunogaspar commented on #347
Hi,

This is covered on the [activations documentation](https://cartalyst.com/manual/sentinel/2.0#activation).

[2017-03-18 00:29] #347 closed

[2017-03-18 00:30] brunogaspar commented on #343
You can probably eager load the activations when you get the list of the users.

[2017-03-18 10:39] houssemeddindhouib commented on #274
when i chage the role of my user i found this problem
**# **ErrorException in VerifyCsrfToken.php line 156:
Trying to get property of non-object****

any help please

[2017-03-18 14:06] knour89 commented on #347
i know its in documentation, but i want to retrieve the relation in on recorded for exable
first name | last name | email | activation code| activation complted

[2017-03-18 16:04] brunogaspar commented on #347
You'll most likely need to do a manual query as this is not really related to Sentinel.

If you're stuck you can refer to the Laravel documentation.

[2017-03-19 02:09] ekstrakt opened #348 "Cartalyst\Sentinel\Users\IlluminateUserRepository->findById() returns wrong type"
According to the [documentation](https://cartalyst.com/manual/sentinel/2.0#sentinel-findbyid) and the PHPDoc, the method
`Cartalyst\Sentinel\Users\IlluminateUserRepository->findById()`
(and the alias `Sentinel::findById()` )

should return
`Cartalyst\Sentinel\Users\UserInterface` or `null`

but it returns
`Illuminate\Database\Eloquent\Collection`

Which throws a TypeError:
[code]

A simple fix (no

[2017-03-19 02:19] #348 closed

[2017-03-19 02:31] ekstrakt commented on #348
My bad: unknowingly I was sending an array (full db row) instead of integer (userID) to the method.

[2017-03-19 23:34] cagatayoncul opened #349 "Laravel 5.4 Vendor Publish Doesnt Work"
In Laravel 5.4 doesnt work publish command. Any fix ?

`php artisan vendor:publish --provider="Cartalyst\Sentinel\Laravel\SentinelServiceProvider"`

[2017-03-19 23:37] #349 closed

[2017-03-22 01:15] knour89 opened #350 "cant use Authentication method / Authentication method error"
hello i am trying to use Authentication method and it show me error

[code]

I even tried to use exmable in web site and get same error

[code]

[2017-03-22 01:19] brunogaspar commented on #350
Hello

The exception is pretty much self explanatory, it expects a string but you're returning a boolean.

That's caused by your `return Sentinel::check();`.

[2017-03-22 01:19] #350 closed

[2017-03-26 21:42] shampine opened #352 "Reminder::complete() returns true, not updating password"
Password remains the same after a password reset and a successful call of reminder complete.

E.g.
1) Current password is set to 'password'
2) Run reset and receive link with reminder code
3) Enter new password 'Password1' and be redirected to login

Password hash on Users table is not updating, complete still returns true. Step debugged through it and didn't see an initial issue in IlluminateRemi

[2017-03-26 21:59] shampine commented on #352
Resolved::

This occurred because of modifying the Config for Cartalyst.Sentinel to utilize:

[code]

As on the Users model I have extended EloquentUser. Because this is set the `password` column must be added as a `$fillable` on the `Users::class`. Closing ticket.

Thanks for the great package. Cheers.

[2017-03-26 21:59] #352 closed

[2017-03-28 09:17] joginder89 opened #353 "Question : How to check if User have permission for current route ?"
I have Created 2 roles (admin and datafeeder).

[code]

and

[code]

Now I am able to open user list page when logged in with datafeeder role user. How can I prevent user to open a route which they do not have permission. Is it good to add check in Middleware ?

I want to do something like

[code]

in middleware

I do not know how to store Permissions as action names on roles.

[2017-03-28 12:32] brunogaspar commented on #353
@joginder89 I've re formatted your OP so it's more readable and easier to understand.

In regards to your question, just store the FQCN i guess, something like:

[code]

Other solution is to use named routes instead of the FQCN.

To access it just use `$action = $request->route()->getName();` instead of `$action = $request->route()->getActionName();`.

But either way, is really up to you the way y

[2017-03-28 12:32] #353 closed

[2017-03-30 16:14] hbsoftco opened #354 "ajax call Sentinel::check() and Sentinel::getUser() always return null"
Hi
I'm using Sentinel package, Everything is fine, But when I want call Sentinel::check() and Sentinel::getUser() using ajax, it return null. help me please :(

my route in api.php
`Route::post('/managersShowMarkers', 'ManagerController@managersShowMarkers');`

managerShowMarkers method in ManagerController
`public function managersShowMarkers()
    {
        $currentUser = Sentinel::getUser();

[2017-03-30 16:17] brunogaspar commented on #354
What Laravel version are you using?

[2017-03-30 16:18] hbsoftco commented on #354
laravel 5.3

[2017-03-30 16:20] brunogaspar commented on #354
Is that route you posted using the `web` middleware?

[2017-03-30 16:25] hbsoftco commented on #354
I did not use a middleware

this is my code in api.php
<?php

use Illuminate\Http\Request;

Route::get('/user', function (Request $request) {
    return $request->user();
})->middleware('auth:api');

Route::post('/showMarkers', 'MapLocationsController@showMarkers');

Route::post('/managersShowMarkers', 'ManagerController@managersShowMarkers');

[2017-03-30 16:27] brunogaspar commented on #354
You'll need to use the `web` middleware as well i'm afraid, otherwise you'll not be able to get the logged in user i suppose since the API routes are stateless.

[2017-03-30 16:34] hbsoftco commented on #354
thanks for replay, but it's not working with `web` middleware :(

[2017-03-30 16:43] brunogaspar commented on #354
Is it working as expected without being an Ajax request?

[2017-03-30 16:48] hbsoftco commented on #354
Yes, it's working correctly

[2017-03-30 17:58] brunogaspar commented on #354
So something on those routes are not correctly setup.

Therefore i believe it's not a Sentinel issue since it's working as expected in the rest of your application.

[2017-03-30 17:58] #354 closed

[2017-03-31 08:32] brunogaspar commented on #343
Closing due to inactivity.

Feel free to reply if you are still stuck with this.

[2017-03-31 08:32] #343 closed

[2017-04-02 07:56] UmerAbbas8 commented on #105
can you please tell me how can i paginate the result that i get from

$role = Sentinel::findRoleById(1);

$users = $role->users()->with('roles')->get();

please help me,
thanks

[2017-04-02 07:59] pankitgami commented on #105
You can use `paginate` method instead of `get`.

[code]

[2017-04-02 08:04] UmerAbbas8 commented on #105
it works, i wasn't aware that paginate can be used in place of get()

Thank you so much,

[2017-04-03 10:39] joginder89 opened #355 "[Question] How to manually login a user ?"
I use `Sentinel::loginAndRemember($user);` inside a Controller to manually login a user. Then in same function I used `Sentinel::getUser()` to check if User is logged in, It print the user details. But when I move to another page (like login to home) their `Sentinel::getUser()` print `null` . Is their any other method to manually login a user ?

[2017-04-03 10:56] brunogaspar commented on #355
What Laravel version?

[2017-04-03 10:57] joginder89 commented on #355
`"laravel/framework": "5.4.*",`
`"cartalyst/sentinel": "^2.0",`

[2017-04-03 11:00] brunogaspar commented on #355
Make sure that your routes are using the web middleware as mentioned on the Laravel documentation.

[2017-04-03 11:20] joginder89 commented on #355
I do not find web middleware, I have written my routes in roures/web.php files.

[2017-04-03 11:32] pankitgami commented on #355
You can check whether a user is logged in or not before calling `Sentinel::getUser()` using `Sentinel::check()`. If `Sentinel::check()` returns false means your user is not logged in. There could be a problem with your session.

[2017-04-03 11:45] joginder89 commented on #355
@pankitgami  `Sentinel::check()` return false at home page but it return true in postLogin Controller. Let me find out the session problem.

[2017-04-03 12:05] brunogaspar commented on #355
The `web` middleware is set [here](https://github.com/laravel/laravel/blob/master/app/Http/Kernel.php#L29) and used by default [here](https://github.com/laravel/laravel/blob/master/app/Providers/RouteServiceProvider.php#L54).

You'll need to have this to make sessions work as expected on your application.

[2017-04-03 13:30] joginder89 commented on #355
I try to add 3rd party login (like facebook or gmail) in app, I just create user and use

`$user = User::where('uid', $uid)->first();
Sentinel::login($user);
Redirect::route("/");`

then at home page I used

`
@if(Sentinel::check())
     You are Login
 @else
     You are not Login
@endif
`
it print You are not Login.

[2017-04-03 14:26] joginder89 commented on #354
@hbsoftco Do you able to solve this problem ? I am facing same problem.

[2017-04-04 04:18] hbsoftco commented on #354
@joginder89  I used another way.
First add user's info into a session
`Session::put('city_id', $currentUser->city_id);`
then goto app/Http/Kernel.php and active session on rest api routes
`
'api' => [
            \App\Http\Middleware\EncryptCookies::class,
            \Illuminate\Session\Middleware\StartSession::class,
            'throttle:60,1',
            'bindings',
        ],
`

[2017-04-09 17:35] sharifghaderi opened #357 "Is the current package compatible with laravel 5.4?"
Hello,
I just want to know if this package is fully compatible with laravel 5.4 or not.
There is no where stated the version of laravel this package is supporting. So could someone please tell me this.

[2017-04-09 17:50] brunogaspar commented on #357
Hello @sharifghaderi,

It has support for Laravel 5.4.

If you encounter any issues, just open a new ticket per issue.

[2017-04-09 17:50] #357 closed

[2017-04-19 13:54] arkid commented on #349
Did you resolve this @cagatayoncul  ?  I seem to have had the exact same issue.

[2017-04-19 14:03] brunogaspar commented on #349
@arkid Just make sure that you have the Sentinel Service Provider added on the `providers` array on the `config/app.php` file, otherwise it will not work.

[2017-04-19 14:39] cagatayoncul commented on #349
ohh sure i solved this i forgot the close issue

[2017-04-19 15:28] DaKeZhang7412 commented on #349
can you share how did you solve your problem? I have the same one. and I did add Sentinel service provider on the providers array on the config/app.php.

but, it still didnt see any file get copied

[2017-04-19 15:38] brunogaspar commented on #349
@DaKeZhang7412

What's the output when you run the command?
Are you seeing any error?
Do you have the config cached?

[2017-04-19 15:41] DaKeZhang7412 commented on #349
It says "publishing complete." but didn't see any file get copied(ex, migration file, and config file)

[2017-04-19 15:42] brunogaspar commented on #349
Not sure, i'm not able to reproduce any issue

[code]

[2017-04-19 15:46] DaKeZhang7412 commented on #349
Thx @brunogaspar
I guess I have to manually copy those file I need.
BTW, when Sentinel publish, dose it create any model file(ex. roles, etc.)

[2017-04-19 18:11] brunogaspar commented on #349
@DaKeZhang7412

It only publishes the config file and the migrations.

If you need to customise how the default models behave and such, you can [extend](https://github.com/cartalyst/sentinel/wiki/Extending-Sentinel) Sentinel.

[2017-04-20 08:28] wout opened #358 "Testing login session with Behat"
I am testing an XML and JSON REST API with Behat. For authentication, I use Sentinel. Now, if I log in a user through Behat, and I test the status of the login session, the API returns a negative response (e.g. user not logged in). When I do the exact same thing manually in a browser using AJAX requests, everything works fine. So the end result is fine but the scenario fails. Any suggestions on ho

[2017-04-21 10:43] wout commented on #358
I included more info on the Stackoverflow issue:
http://stackoverflow.com/questions/43479251/testing-login-session-with-behat

[2017-04-21 15:50] Fergall opened #359 "Cannot instantiate Interface (Native)"
Hello!

im trying to run Sentinel Native and im having a problem

[code]
But so far i get
`Fatal error: Cannot instantiate interface Illuminate\Contracts\Events\Dispatcher in /var/www/canal_de_denuncias/admin/bibliotecas/sentinel/vendor/cartalyst/sentinel/src/Native/SentinelBootstrapper.php on line 317`

I downloaded through composer with the next json:
[code]

Hope you can help me, thanks!

[2017-04-25 22:39] halabe15 commented on #134
Make sure each time you call your function postLogin delete the table of throttle

[2017-04-26 02:25] victorolowe commented on #134
Alright. Thanks. Will try this out

[2017-04-26 19:44] aleemb opened #360 "user_id is always null in sessions table"
The `user_id` column is always null, the other columns are correct. Is there something I am missing or is this Sentinel behaviour?

[2017-04-27 13:42] chrispage1 commented on #102
@iboinas I've added this to my extra but I can't get the hinting to work.

E.g..

[code]

Has something changed since last update?

[2017-05-04 20:27] Vortelf opened #361 "Cannot authenticate with Laravel 5.4 and Sentinel 2.0.15"
Hello,
I'm having this issue where I can't seem to be able to login anymore.
This is my authenticate function
[code]
Worked fine with Laravel 5.3 and Sentinel 2.0.12

[2017-05-04 21:57] brunogaspar commented on #361
What is the issue?

[2017-05-04 22:10] brunogaspar commented on #361
My only guess, is that you're passing `username` and the User model is still using the default `email` column for the authentication + the `password`.

[2017-05-04 22:15] Vortelf commented on #361
As I said, it was working before I decided to update it. That is not the problem.

[2017-05-04 22:33] brunogaspar commented on #361
I just tried on a completely fresh Laravel 5.4 installation and with your code it doesn't work until i modify the login column to be username [here](https://github.com/cartalyst/sentinel/blob/2.0/src/Users/EloquentUser.php#L72).

To properly extend Sentinel you can check this [quick tutorial](https://github.com/cartalyst/sentinel/wiki/Extending-Sentinel) and you can then change the login column to

[2017-05-04 22:33] #361 closed

[2017-05-04 22:35] Vortelf commented on #361
I did that when I started my project a year ago. It is defined in my model.

[2017-05-04 22:48] brunogaspar commented on #361
Not really sure what might be wrong on your end..

Do a little debugging.. add a `dd(config('cartalyst.sentinel.users.model'));` on your login method and see what it returns.

Also add a `dd($loginNames);` on line 93 or 94 on the [IlluminateUserRepository](https://github.com/cartalyst/sentinel/blob/2.0/src/Users/IlluminateUserRepository.php#L93) and also see what it returns.

If everything returns

[2017-05-04 23:57] Vortelf commented on #361
[code]
Apparently this doesn't seem to work.
Whenever I replace it in `Cartalyst\Sentinel\Users\EloquentUser.php` it works as intended, but it won't work from the model anymore.

[2017-05-05 00:14] brunogaspar commented on #361
What does `config('cartalyst.sentinel.users.model');` return?

[2017-05-05 00:23] Vortelf commented on #361
It returns `"\App\User"`.

[2017-05-08 17:57] Kehbas commented on #337
hello guys,
I have the sme problem as @leezene  and I dont understand what @brunogaspar  meant with "loop through the roles" can anyone help?

I'm working on a platform with many roles and I would like to make a admin panel to set roles.
Thank you,

[2017-05-08 18:04] brunogaspar commented on #337
@Kehbas

If it's to show all the users and the roles they are assigned to, you'll need to iterate through the users first and then inside create another loop to iterate through the user roles:

[code]

If it's to show only the available roles:

[code]

Hope it makes sense.

[2017-05-08 18:25] Kehbas commented on #337
@brunogaspar thank you so much for your time! It work perfectly Ive never done a loop inside a loop..
Cheers

[2017-05-11 02:16] ypn commented on #131
5/2017 and still don't fix?

[2017-05-11 17:38] maranovot opened #362 "Problem with finding role with findRoleById( )"
Hello, I am using Sentinel in my laravel application and everything is working fine except if I want to find and delete role like this:
[code]
I get this error which puzzles me, but I hope it won't puzzle you:
[code]
So if anyone would be kind enough to clarify what is going on, I would much appreciate it.

[2017-05-11 18:03] drsii commented on #362
@maranovot can you set the role object first. Want to separate the possible errors out here.

[code]

The sql error there i'm guessing is the result of another issue. Unless you actually do not have that column on the users table.

[2017-05-11 18:03] brunogaspar commented on #362
Not being able to reproduce this.

Will need more information, like:
- Laravel version if applies;
- Sentinel version;
- Database Engine & version;
- What does the `$role` return if you remove the `->delete()` part?

[2017-05-11 18:04] drsii commented on #362
Thats one way to humblebrag about our support.

[2017-05-11 18:07] drsii commented on #360
@aleemb If you're still having issues please us know a bit more information and we'll reopen. Which table are you talking about here?

[2017-05-11 18:07] #360 closed

[2017-05-12 07:35] aleemb commented on #360
The Laravel's default `sessions` table has a `user_id` column which was always being populated with `null`. The other info was being populated correctly.

This is somewhat related to #136 and #328 where the [workaround](https://github.com/cartalyst/sentinel/issues/328#issuecomment-281779639) seems to be to call `app->rebinding` and then `setUserResolver`. There are some other references as well

[2017-05-12 07:36] aleemb commented on #360
@drsii not sure if I was meant to ping you since this  is a closed issue.

[2017-05-12 07:56] maranovot commented on #362
@drsii
I separated it as you suggested it returns the role just fine, so the problem must be with the delete part. And I do not have that column on my users table, that's why I asked for clarification because I don't know why is it looking for that column in first place. Do I need an extra role_id column on users table in order to delete roles?

@brunogaspar

1. Laravel version 5.4.21
2. Cartalyst

[2017-05-12 08:55] maranovot commented on #362
Sorry my blunder, already fixed it. It had nothing to do with Sentinel.

[2017-05-12 10:24] #362 closed

[2017-05-29 11:47] paul-crashley opened #363 "Allow use of multiple ORM implementations."
This is clearly stated as a feature on the web page, but as far as I can see should come with the caveat "as long as it's Eloquent".

Are there any plans to actually make this framework/orm independent?

[2017-05-31 10:57] vijay-kumar-rana opened #364 "getUser() function with relations data"
I know that `Sentinel::getUser()` get the logged in user detail. But, I have a different condition. I have `name, email, and password` in user table and other information about user in `user_detail` table where `user_table ` have field `user_id` which points to id of user table(foreign key).

I want to load both user table with eager loading user_detail table. Simply, eloquent ways is as:

`App\Mo

[2017-05-31 11:23] brunogaspar commented on #364
You'll need to call `load()` instead of `with()` in this situation.

Hope it helps.

[2017-05-31 11:23] #364 closed

[2017-06-01 10:17] vijay-kumar-rana commented on #364
Yes it works great. Thank you

[2017-06-01 16:26] babind opened #365 "Is there any demo app using sentinel ?"
I was wondering whether the social authenticated provided by the Sentinel is free service? Or Do we have to pay for it?

[2017-06-01 16:28] babind commented on #365
https://cartalyst.com/manual/sentinel/2.0 states that its paid service

[2017-06-01 16:29] drsii commented on #365
We offer two paid products.

A simple kickstart app. https://demo.cartalyst.com/sentinel-kickstart/

And our more advanced Cartalyst Platform. https://platform.cartalyst.com/

Both are included in a $75/quarter subscription with no obligation to stay subscribed unless you want updates and support.

[2017-06-01 16:29] #365 closed

[2017-06-01 16:32] drsii commented on #363
There is no way you could make this ORM independent. The best we could do is offer other ORM implementations.

There are no plans to add other ORM implementations at this time.

[2017-06-01 16:32] #363 closed

[2017-06-01 16:42] babind opened #366 "Is there any demo Github Respository that has successfully integrated sentinel in Laravel 5.4?"

[2017-06-01 16:53] babind commented on #365
could we still use the sentinel for free for social login?

[2017-06-01 16:54] drsii commented on #365
@babind Sentinel Social is paid library. If you do not need to advanced features of sentinel I believe Laravel 5 has it's own auth library for 3rd party services.

[2017-06-02 00:10] #366 closed

[2017-06-02 00:17] drsii commented on #358
@wout Closing question as unsolved. Please fill free to reopen should have more to add or have found a solution.

[2017-06-02 00:17] #358 closed

[2017-06-02 00:18] drsii commented on #359
@Fergall were you able to figure out the issue?

[2017-06-04 05:53] mdixon18 opened #367 "Can't get sentinel to work with setModel at runtime (Extending Sentinel)"
I am attempting to use the setModel function in runtime in the latest version of Laravel like this:

`Sentinel::getUserRepository()->setModel('App\Client');`

Then call methods such as `Sentinel::getUser();`, However, i am finding that when i do this, its accessing the original 'users' table and not the clients table which is represented when i do `Sentinel::getUserRepository()`.

Its like i can l

[2017-06-04 11:23] brunogaspar commented on #367
Hi

Please let us know some more information so we can try to debug the issue a bit better:

- What Laravel version?
- What Sentinel version?
- When exactly, on your routes file, are you setting the user model?

[2017-06-04 13:43] mdixon18 commented on #367
Hello,

cartalyst/sentinel: 2.0.*
laravel/framework: 5.4.*

I run the call at the top of my routes file, i have also tried it in the AppServiceProvider with the same issue. The authenticate method works beautifully, if i `dd()` out the response it is perfect and it logs me in with the correct user. Upon redirection it is going back to the other model (User) and picking the user out of the incorrec

[2017-06-05 12:12] brunogaspar commented on #367
Thanks.

I'll have a look as soon as possible.

[2017-06-06 08:49] mdixon18 commented on #367
Thank you, keep me posted 👍

[2017-06-06 15:25] rommelandrea opened #368 "IP whitelist for throttiling"
Hi, in throttiling roules, there is a chance to create whitelist for IP that disable (or have more try) before put ip and user in blacklist?

[2017-06-08 09:11] mdixon18 commented on #367
Any news on this yet?

[2017-06-08 10:00] brunogaspar commented on #367
Hello

You'll need to also define the model on the persistence repository:

[code]

I've updated the wiki to mention this as well.

[2017-06-08 10:00] #367 closed

[2017-06-15 16:04] vkathirvel commented on #359
@Fergall @drsii
I had to add "illuminate/events" and "illuminate/http" to my composer.json. Looks like these are not being loaded by Sentinel upon install. Any idea why it is under require-dev and not require?
https://github.com/cartalyst/sentinel/blob/2.0/composer.json

[2017-06-21 11:26] brazorf opened #369 "ActivationRepositoryInterface and find by code."
Why the `ActivationRepositoryInterface` is not providing a `findByCode` method?

That would be quite a natural place, isn't it?

[2017-07-01 14:28] awardx commented on #144
Why it doesn't work for me? I use the same line of code - User::with(‘roles’)->get(); and it returns an array with all the users, but their roles come in different bucket - relations.

[2017-07-01 15:00] awardx opened #371 "Getting list of users with two different roles (admin & support) in the same array."
If I use the following code

$role = Sentinel::findRoleById(1);
$users = $role->users()->with('roles')->get();

I can get only one set of users (i.e. admin or support) per request, but I'd like to have all users with either role in the same bucket.

How can I achieve that?

[2017-07-01 15:58] brunogaspar commented on #371
You can try something like the following which is nothing more than Laravel Eloquent queries:

[code]

[2017-07-01 15:58] #371 closed

[2017-07-03 07:01] nijesh-wiredelta opened #372 "Sentinel::check() returns false inside constructor."
`public function __construct(){
        if (Sentinel::check()){
            $current_user = Sentinel::getUser();
            $user = Sentinel::findById($current_user->id);
            $credentials = [
                'lastActiveTime' => date('Y-m-d H:i:s'),
                'ip_address'=>$this->getIpAddress()
            ];
            $user = Sentinel::update($user, $credentials);
            retu

[2017-07-03 07:03] suwardany commented on #372
Check https://github.com/cartalyst/sentinel/issues/280#issuecomment-249587197

[2017-07-03 07:03] #372 closed

[2017-07-03 07:19] nijesh-wiredelta commented on #280
Thanks, working fine.

[2017-07-04 04:02] babind opened #373 "how to get logged in user in sentinel ?"
I want to access Sentinel::getUser()->id inside a laravel controller . Therefore i could do like $input["user_id"] $model= Model::create($input);

[2017-07-04 12:40] brunogaspar commented on #373
If the user is logged in you can call `Sentinel::getUser()->id` to retrieve the user id.

[2017-07-04 12:40] #373 closed

[2017-07-05 10:14] sabas commented on #359
I am using native and these are my relevant requires
[code]

And the php
[code]

[2017-07-06 12:21] mixalistzikas commented on #242
I have the same problem and I can't understand the solution.

[2017-07-06 12:29] mixalistzikas commented on #242
@Briareos17 What do you mean "It was my foul, whole JSON comes to getter as single string(in additional brackets).". Please give an example

[2017-07-17 20:00] toddroper commented on #251
I'm having the same issue and the it is definitely inside Sentinel.  I've traced it back to the check method in the IlluminatePersistenceRepository.  The persistence code is saved to the DB and exists in the session yet this fails:
if ($code = $this->session->get()) {
            return $code;
}

There is an issue with how this logic is pulling the code.

Session:
array:5 [▼
  "_previous" => array

[2017-07-17 20:04] toddroper commented on #251
I'll also add that I followed the Sentinel install instructions from the main site (https://cartalyst.com/manual/sentinel/2.0#laravel-5) and Sessions are working in all other parts of my code.

[2017-07-17 20:18] brunogaspar commented on #251
@toddroper Without seeing any code it's difficult to figure out what is your issue.

The only thing that comes to my mind is [this](https://laravel-news.com/controller-construct-session-changes-in-laravel-5-3).

[2017-07-17 20:42] toddroper commented on #251
I solved the problem, you need to tell users that report this issue to check which Facade they're using and inform them that the native session key should be left as 'cartalyst_sentinel'.  I updated the key and that caused the initial failure, reverting it fixed the problem.  The second failure was due to the Native facade being used in one Model.  I will say that you are less than helpful and I w

[2017-07-17 20:44] brunogaspar commented on #251
Thank you.

[2017-07-19 19:32] nWidart opened #374 "Laravel Guard"
Hello,

Is there a custom laravel guard ( https://laravel.com/docs/5.4/authentication#adding-custom-guards ) available for sentinel ?

This would allow using some laravel methods with sentinel.

Thanks,

[2017-07-19 20:05] nWidart commented on #374
I've just come across this one https://github.com/joshwhatk/sentinel-guard/tree/master/src

Might be nice to have this included with sentinel

[2017-07-24 09:15] denisdulici commented on #374
@nWidart were you able to use it with Asgard?

[2017-07-24 09:17] nWidart commented on #374
It works yes. I had to add the `attempt` method so added the class myself [here](https://github.com/AsgardCms/Platform/blob/2.0/Modules/User/Guards/Sentinel.php).

![image](https://user-images.githubusercontent.com/882397/28516454-9ae5d3b4-7061-11e7-807c-6586685beea2.png)

[2017-07-24 12:21] brunogaspar commented on #374
Hello @nWidart

I'm personally alright with this, however i'm a bit overwhelmed how Laravel handles versioning, which might cause issues in the future if they rename a method or whatever.

So my suggestion would be to keep as a separated package maybe?

Let's see what @suwardany have to say :)

[2017-07-26 05:27] max-pro opened #376 "Activation code not case sensitive"
Activation code should be case sensitive, here if we convert W to w in activation link still user get activated.

[2017-07-26 05:32] max-pro opened #377 "Database relational design not so good"
No use of foreign key in any table
Eg activation table have user_id attribute without any relation with user table .
Same in role ane user_role tables

[2017-07-26 10:36] brunogaspar commented on #377
While we understand that we don't have foreign keys at this moment, we have also replied to the same type o ticket already, multiple times.

[This](https://github.com/cartalyst/sentinel/issues/190) might be of your interest.

[2017-07-26 10:36] #377 closed

[2017-07-26 10:37] brunogaspar commented on #376
Do you have any suggestion to improve this?

[2017-07-26 15:20] deividaspetraitis commented on #192
Hey. Any updates according this, for support with Lumen?

[2017-07-26 18:44] max-pro commented on #376
public function activate($email,$activation_code)
    {
    	$user = User::whereEmail($email)->first();
        $code1 = Activation::findByuser_id($user->getUserId());

        if($code1->code == $activation_code){

        	if(Activation::complete($user,$activation_code))
        	{

        		return 'activation completed';
        	}
        	else
        	{
        		return 'failed activation '

[2017-07-26 18:45] max-pro commented on #376
if($code1 == $activation_code) are case sensitive

[2017-07-28 03:29] LeftPinkie opened #378 "Get current user's roles"
Is there any way to get the current user's roles besides iterating `Sentinel::getRoles()` and checking each with `Sentinel::inRole()`?  Ideally I would like to have the current user's roles (slug and name) returned by `Sentinel::getUser()`

[2017-07-28 07:02] brunogaspar commented on #378
You can access the user roles by accessing the roles relationship on the user itself.

[code]

Hope it helps.

[2017-07-28 07:02] #378 closed

[2017-07-28 12:16] sarim commented on #359
Calling this framework agnostic is kinda wrong. I also tried this seeing the tagline but after finding out about these dependencies, no thanks.

[2017-07-31 06:10] hashik commented on #134
you can call a Sentinel default function in llaravel "web.php"
example
`Sentinel::disableCheckpoints();`

[2017-08-03 03:24] webtuts4u opened #379 "Logout when browser close"
Facing an issue, user still showing login after close the browser. But all the session is cleared still shown login. When user again open the browser then still showing login with his/her credentials. but data is not loaded on view because all the session is cleared. Need to logout the user when they close the browser and require to login again.
`
'lifetime' => 60,
'expire_on_close' => true,
`
The

[2017-08-03 11:39] brunogaspar commented on #379
Hello

I'm not being able to reproduce your issue.

Please let us know what versions are you using of both the Laravel Framework and Sentinel and on which browsers the issue is happening.

If you also have a way to reproduce the code easily, that's also good to let us know.

---

This is what i have and what i tried.

## Versions

- Laravel 5.4.31
- Sentinel 2.0.15
- Chrome 59.0.3071.115 (Official

[2017-08-03 11:39] #379 closed

[2017-08-08 14:54] DMeganoski commented on #374
I had just spent the majority of the day yesterday trying to figure out how to integrate sentinel into laravel's default auth. I had created a new provider and userprovider for sentinel, which required a good deal of overriding methods to get to work. The gate solution is much cleaner, and implements all features of sentinel.

I would also love to see this supported officially, and think a separat

[2017-08-09 07:43] lorvent commented on #50
@AbdullahDiaa can you tell how did you create custom exceptions for `LoginRequiredException` ?

i mean how you are handling it?

[2017-08-11 04:20] odahcam commented on #190
@ricardovigatti can you give me - a newbie here - a brief idea of what is a migration file here and how can I use it?

[2017-08-11 04:23] odahcam commented on #255
So with Doctrine, Sentinel could work aiming database operations to Doctrine Entities and, because of this, we could have custom database naming?

[2017-08-11 12:54] ricardovigatti commented on #190
@odahcam, i've been using Sentinel within Laravel. From they docs:

https://laravel.com/docs/5.4/migrations

[2017-08-11 13:45] guiwoda commented on #255
@odahcam well, database naming could be customized with either ORM. Greatest difference is in how your model knows or doesn't know about persistance, AFAIK.

[2017-08-11 14:27] odahcam commented on #255
This lib could use some Mapping standards where with Doctrine we could point our custom named columns to the names that this lib expects. This would a big differential against other Auth solutions, I found 0 solutions that allow custom database schemas.

[2017-08-11 14:45] brunogaspar commented on #255
@odahcam Care to elaborate a bit more on how you might implement such changes on the library itself?

We're always open to suggestions and improvements.

[2017-08-11 17:22] brunogaspar commented on #255
The idea is interesting, not sure how easy/doable that would be to implement.

That would be very nice, it can help understand your vision on this more easily :)

Thanks!

[2017-08-11 18:09] guiwoda commented on #255
You can see how we did exactly that in https://github.com/digbang/security

[2017-08-12 08:40] hamza-d52 commented on #328
$this->app->rebinding('request', function ($app, $request) {
    $request->setUserResolver(function () use ($app) {
        return $app['sentinel']->getUser();
    });
});
this code is not working for me aswell it is always returning null when we call $request->user or $app['sentinel']->getUser(); I am using laravel version 5.4

[2017-08-15 12:01] ismailcaakir opened #380 "How can I make a 6-digit activation code?"
Is it possible to change activation codes without customising the package?
(i wanna do it on my application) I want to generate 6-digit verification numerical codes to confirm phone numbers.

[2017-08-16 03:55] LeftPinkie opened #381 "Single Persistence Error when changing the persistence model"
I am getting an error when trying to use the single persistence after changing the table name of Persistence model.

Here is the error message:
[code]

Here is my Persistence model extension:
[code]

Here is my settings for the persistence:
[code]

It looks like it is still trying to query for the table `persistences`.  Is there any other class properties I need to set?

[2017-08-16 04:05] LeftPinkie commented on #222
@xacronyx You can do this by extending the Role and User models...

Role model:
[code]

The User model:
[code]

You will also need to update your settings:
[code]

[2017-08-16 12:25] hamza-d52 commented on #328
@Germanaz0  could you please share your login controller code i have tried many options all of the above and other still i am getting null user

[2017-08-16 12:28] brunogaspar commented on #328
@hamza-d52 Maybe this helps https://laravel-news.com/controller-construct-session-changes-in-laravel-5-3

Otherwise create a new issue and paste your code and the problem itself.

[2017-08-16 12:31] hamza-d52 commented on #328
@brunogaspar  i am using sentinel 2.0 with laravel  version 5.4 and i have install laravel passport every thing works fine my issue is that i want to use OAuth for laravel , what i mean is with valid access token for a user i want to by pass the login system and directly let user enter to application from another application.

[2017-08-16 12:35] hamza-d52 commented on #328
I had tired overriding the sentinel Authenicate() method but unsuccessful. Is there any update for sentinel going to come which is compatible with laravel passport?

[2017-08-16 12:53] hamza-d52 opened #382 "OAuth with Passport not working"
i am using sentinel 2.0 with laravel version 5.4 and i have install laravel passport every thing works fine my issue is that i want to use OAuth for laravel , what i mean is with valid access token for a user i want to by pass the login system and directly let user enter to application from another application.

`$this->app->rebinding('request', function ($app, $request) { $request->setUserResolve

[2017-08-17 12:39] odahcam commented on #255
Just a few questions (I'm a newbie in Laravel, I don't like it enough to study it):

1. As long as I know, Eloquent is the main ORM here and it doesn't have data mapping, am I right?
2. I read in the docs: Can I really use *any* ORM with Sentinel as the docs say?

[2017-08-19 11:12] aamirkhan37557 opened #383 "FatalThrowableError Class 'App\Http\Controllers\Sentinal' not found"
when i want to login it give me this error

FatalThrowableError
Class 'App\Http\Controllers\Sentinal' not found

i have included use sentinel

this is my controller

![login](https://user-images.githubusercontent.com/24594319/29486172-ed1c7dc6-8494-11e7-9f13-152d77e337bf.png)

[2017-08-19 13:00] brunogaspar commented on #383
You've imported `Sentinel` but you're calling `Sentinal`, therefore you've a typo there :)

[2017-08-19 13:00] #383 closed

[2017-08-23 05:10] RonnieCSE commented on #274
array_get($data, 'roles')

this line I do not Understanding Bro

would u help me?

[2017-08-23 11:39] nWidart commented on #374
Sorry for late reply here, indeed @DMeganoski but those can easily be added, will do that.

[2017-08-23 12:09] nWidart commented on #374
I just added those 2 methods: https://github.com/AsgardCms/Platform/commit/7b870594f66045cbb5503dc674f636bb376bcba3

Though I don't know if there's a better way with Sentinel to login using an ID. I had to first find the user, and then pass that to the Sentinel::login() method.

[2017-08-23 20:42] DMeganoski commented on #374
That works too, I used
[code]

Here is a gist of my guard class. https://gist.github.com/DMeganoski/9f3b0e42d4b8f37302433d1482afb77d

It should also be noted for complete integration, that a custom password broker for custom resets needs to be created. I could not find a way to bind my extended version to the container (I think because it is bound with `singleton`), and had to replace the original

[2017-08-24 11:18] dzanfardino commented on #291
Hi,
I need to migrate Sentry users to Sentinel, I'm using the native Hasher, same that was used to create Sentry Users, but the check on the password fails, I've tried using the same APP_KEY, without success.
I'm stuck, and I'd really appreciate any help

Thanks

[2017-08-25 04:54] babind opened #384 "how to get the following in the view?"
Sentinel::findRoleById(1);

[2017-08-25 04:57] babind opened #385 "Testing of sentinel login ?"
Hash::make('password') for the sentinel in not working what i need to use in the laravel testing so that i will pass the test

[2017-08-25 15:44] brunogaspar commented on #384
Just pass that to the view i suppose.

[2017-08-25 15:44] #384 closed

[2017-08-25 15:46] brunogaspar commented on #385
Sentinel performs the hashing automatically, so no need to fiddle with the hashing yourself.

[2017-08-25 15:46] #385 closed

[2017-08-31 11:35] stojankukrika opened #386 "If user role have permission."
Hi,
Am plain to make that permissions give to roles and user add to some role. How can I check is his role have permission for some action?

[2017-09-01 06:22] #386 closed

[2017-09-11 17:39] hugo1337 opened #389 "Sentinel::Check from Subdomain (Nodejs)"
i've got following issue:

my website is divided into Mainpages www.example.com (PHP-Laravel) and chat-application www.sub.example.com (with subdomain written in nodejs).

For authentication im using JWT and dotnev(connect to laravel .env file).

within my TokenController:

[code]
When I'm login with Chrome on my Desktop-PC everything works fine and he goes further then the if-statement so in IE-1

[2017-09-12 19:24] Tekken-Army commented on #337
To get it from a specific id use:

$user = Sentinel::findById(2);
        $user->inRole('admin');
        foreach($user->roles as $role){
            echo $role->name;
        }

[2017-09-12 19:27] Tekken-Army commented on #337
Also if you don't know the role slug

$user = Sentinel::findById(2);
        $user->inRole('*');
        foreach($user->roles as $role){
            echo $role->name;
        }

[2017-09-17 19:36] pierlon opened #390 "'sentinel.registering' event"
When the event 'sentinel.registering' fires, the listener doesn't receive the credentials as an array, but as parameters instead. ([found here](https://github.com/cartalyst/sentinel/blob/2.0/src/Sentinel.php#L169))

Is this the intended way?

[2017-09-18 09:42] brunogaspar commented on #390
It's not the intended way. Feels more like a change on Laravel Event system.

Any idea @suwardany ?

[2017-09-22 13:19] Ohssie opened #391 "User Role assignment fails on registration (Laravel 5.5)"
Following the documentation found on the official website, assigning a user to a role goes like this,

`$user = Sentinel::findById(1);

$role = Sentinel::findRoleByName('Subscribers');

$role->users()->attach($user);`

applying the same structure into my codes in laravel 5.5 flags an error

Call to a member function users() on null

Which is coming from this line `$role->users()->attach($user);`

[2017-09-22 13:27] brunogaspar commented on #391
From the error, you're calling `->users()` on `null`, which means `$role` doesn't contain anything, so it errors out as expected.

[2017-09-22 13:40] Ohssie commented on #391
Thank you
Just fixed it

Now I would need a little help on implementation. Stated above, I intend to use this code block to register new customers and also let the admin add users to the platform. The workflow is this, if the user registers, the `$request->role` would be empty. Now I was checking to see if it was empty at any point so that if it's empty, the role should automatically be 'customer'

[2017-09-22 14:03] #391 closed

[2017-09-23 05:10] alhassansumon commented on #361
How the problem cartalyst sentinel install laravel 5.4
please help me......!

[2017-09-24 01:58] odahcam commented on #203
I solved my problem with this:

[code]

[2017-09-28 02:43] dels07 commented on #380
+1 I have same same issue also, want to know some solution

[2017-09-29 11:40] adru0071324 opened #392 "Sentinel::authenticate always results to false"
What i am trying to do is to authenticate first before allowing to login
newbie.

[code]

[2017-09-29 13:51] brunogaspar commented on #392
I've formatted your original post but i'm confused on what the problem is or what you're trying to achieve.

[2017-09-29 14:55] adru0071324 commented on #392
I would like to do an authentication before login somehow Sentinel::authenticate is is giving a False even if the credentials are correct.

[2017-09-29 14:55] adru0071324 commented on #392
I would like to do an authentication before login somehow Sentinel::authenticate is giving a False even if the credentials are correct.

[2017-09-29 14:58] adru0071324 commented on #392
i tried
`dd(Sentinel::authenticate(
         ['email'    => Request::input('email'),
          'password' =>Request::input('password')]
))`

but it returns False

[2017-10-01 06:46] LiXunGuan opened #393 "laravel 5.5 can't discovery sentinel package"
please releases and push

[2017-10-02 14:16] MohamedHana commented on #349
# Follow these steps:
1- Add service provider to providers array on the config/app.php
2- Run  **php artisan config:cache**
3- Run **composer update**
4- Run  **php artisan config:cache**
5- Run **php artisan vendor:publish**

[2017-10-02 15:04] Ser5 opened #394 "Sentinel::activate(int) doesn't work"
`Sentinel::activate(1)` doesn't work.

While `Sentinel::activate('1')` works - which I find very counterintuitive - almost a bug.

Reason is that `activate()` requires either a string or an array:
[code]

I suggest to add `int` support to the `activate()` method.

[2017-10-02 15:31] brunogaspar commented on #394
Feel free to submit a pull request with a test case.

[2017-10-02 15:31] #394 closed

[2017-10-08 14:51] agafforov commented on #393
+1

[2017-10-09 01:03] brunogaspar commented on #393
Done.

[2017-10-09 01:03] #393 closed

[2017-10-09 01:06] brunogaspar commented on #392
I'm not able to reproduce any issue when performing authentication on users.

Make sure that you're not doing something funky with the password when creating the user and also ensure that when you're authenticating you really have data on both `email` and `password` inputs.

Other than this, it seems a bug on your application.

[2017-10-09 01:06] #392 closed

[2017-10-09 01:08] brunogaspar commented on #389
Sorry, but it's preferable for you to ask this on for example the Laravel forums or maybe Stack Overflow as this is a bit out our scope.

[2017-10-09 01:08] #389 closed

[2017-10-09 01:10] brunogaspar commented on #382
We don't have any plans on having custom code for Laravel Passport at this moment.

However, if the rebinding is not working, you can try to extend the Sentinel Service Provider with your own Service Provider and apply a patch there.

[2017-10-09 01:10] #382 closed

[2017-10-09 01:12] brunogaspar commented on #380
Hi

You'll need to extend Sentinel to have this behaviour i'm afraid.

[This](https://github.com/cartalyst/sentinel/wiki/Extending-Sentinel) gives a sense on how to do it.

If you still have questions about doing so, just let us know.

[2017-10-09 01:12] #380 closed

[2017-10-09 01:13] brunogaspar commented on #368
Hi

There are no plans for having this on the core at the moment.

You can extend Sentinel and add such feature i believe.

Thanks.

[2017-10-09 01:13] #368 closed

[2017-10-09 01:15] #359 closed

[2017-10-09 01:17] brunogaspar commented on #369
Not entirely sure about your use case here, but you can maybe send a pull request implementing the method.

[2017-10-09 01:17] #369 closed

[2017-10-09 01:18] #374 closed

[2017-10-09 01:18] #283 closed

[2017-10-09 01:19] #255 closed

[2017-10-09 01:19] #264 closed

[2017-10-09 01:27] brunogaspar commented on #376
Feel free to submit a pull request.

[2017-10-09 01:27] #376 closed

[2017-10-09 01:29] brunogaspar commented on #192
Going to close this.

If there's still some interest in having this to work on Lumen, please do so [here](https://github.com/cartalyst/sentinel-lumen).

[2017-10-09 01:29] #192 closed

[2017-10-09 01:29] #172 closed

[2017-10-09 01:29] #181 closed

[2017-10-09 01:31] brunogaspar commented on #276
Sorry, but not having a good way to reproduce the issue, it seems to be something outside of our scope.

If you still have this issue, please provide some steps to  reproduce it.

Thanks.

[2017-10-09 01:31] #276 closed

[2017-10-09 01:36] brunogaspar commented on #355
If you're still having this issue, let me know and i'll reopen and will try to determine what might be wrong as i don't seem to be able to reproduce this.

[2017-10-09 01:36] #355 closed

[2017-10-09 01:37] brunogaspar commented on #307
Going to close as you've sent a pull request.

We'll be reviewing it, sorry for the delay.

[2017-10-09 01:37] #307 closed

[2017-10-16 07:08] dels07 opened #395 "Sentinel per object permission"
I want to ask, is it possible to set permission per object, for example I have in school database:

- Principal will assign teacher to class
- Many Teachers can be assigned to many classes
- Teacher permission is based on class

So teacher John can edit schedule in Math class, but can only view schedule in English class. Let's say we store the permissions in each user permission column in nested j

[2017-10-16 11:22] brunogaspar commented on #395
Hi

That's not possible, at least not by default (you can maybe implement your own permission strategy with Sentinel), Sentinel only cares for permissions as a whole, not per object.

Hope it clarifies it for you.

[2017-10-16 11:22] #395 closed

[2017-10-18 16:52] KarelWintersky opened #396 "Double reminder request"
1. Request password recovery (via router or any other way)

[code]
Our token will be in `$reminder->code` and this code will be present in DB.
[code]

Well, call 'password recovery` again.

We recieve second token and second record in DB.

User will recieve SECOND (3rd, 4th, etc) token as ACTUAL, but
[code]
will return FIRST record.

# How to fix?

do
[code]
before

[code]

[2017-11-05 09:28] hbsoftco opened #397 "MySQL table(persistences) error"
Hi
I have a project, everything is okey, it's working in localhost with `php artisan serve`.
I export database from my phpmyadmin in localhost, when import it to cpanel has error.
The error is as follows.

Error
SQL query:
Indexes for tables `persistences`
ALTER TABLE `persistences`
  ADD PRIMARY KEY (`id`),
  ADD UNIQUE KEY `persistences_code_unique` (`code`)
MySQL said:
#1071 - Specified key was

[2017-11-05 12:35] brunogaspar commented on #397
Hi

There are plenty of answers on Google and Stack Overflow for your issue.

https://stackoverflow.com/questions/1814532/1071-specified-key-was-too-long-max-key-length-is-767-bytes

[2017-11-05 12:35] #397 closed

[2017-11-05 15:10] cbj4074 commented on #397
Noting as well that the official Laravel documentation covers this very issue.

https://laravel.com/docs/5.5/migrations#indexes

[code]

[2017-11-19 01:25] ompmega opened #398 "[Question] Using gates with Sentinel"
Ok so I'm been having a tough time trying to make Laravel Gates (https://laravel.com/docs/5.5/authorization#gates) utilize Sentinel::getUser() rather than the default Auth::user(), so that when using the blade directive `@can` (see screenshot below), it should check Sentinel rather than the native auth.

![](https://cl.ly/0w2A1T3Y4022/Image%202017-11-18%20at%206.05.07%20PM.png)

![](https://cl.ly/

[2017-11-20 21:24] ompmega commented on #398
Ok I got this working perfectly. For anyone else wondering, follow what the last post has on #136 but DON'T USE the gate facade like I did. Use `\Illuminate\Auth\Access\Gate`.

[2017-11-20 21:24] #398 closed

[2017-11-22 15:45] BackEndTea opened #399 "[Proposal]Optional Cookies"
Recently i ran into an issue where i didn't have a need for cookies, but the ```IlluminatePersistenceRepository``` requires a ```CookieInterface``` on creation. This means i have cartalyst_sentinel cookies, with a value of null, not doing anything.

My proposal is to either make the ```CookieInterface```optional,  or introduce the ```Null Cookie```. Which is just a fake Cookie, not doing anything.

[2017-11-23 11:20] brunogaspar commented on #399
I'm fine with having it on the core.

If you want to submit a PR, please go for it :)

[2017-11-26 23:59] babind opened #401 "Support for socialite login ( twitter login)"

[2017-11-27 10:02] BackEndTea opened #402 "The ReminderRepositoryInterface is not correct"
The ```create``` function of the ```ReminderRepositoryInterface``` says it returns a string.

But it in fact, returns a ReminderModel in the ```IlluminateReminderRepository```

[code]

My suggestion would be to change the interface signature, or have the create function return a string

[2017-11-27 11:45] brunogaspar commented on #402
Just need to update the docblock, since code wise.

[2017-11-27 12:16] BackEndTea commented on #402
Yeah thats what i meant, update the docblock.

[2017-11-27 14:45] #402 closed

[2017-11-27 14:45] #399 closed

[2017-11-27 14:45] brunogaspar commented on #399
Thanks for the PR's!

[2017-11-30 20:44] chilio opened #404 "Support for JWT auth by Tymon on Laravel 5.5"
So far I have not found a way to put these pieces to work together.
I don't want to introduce any workarounds, cause it will definitely arise problems while upgrading packages.
Anybody has an idea on how to achieve that.
The problem I face all the time is when using sentinel with JWT is that User must be an instance of Authenticable and App\User given, which with sentinel is Cartalyst\Sentinel\Use

[2017-12-11 11:58] Fergall opened #405 "Problems using Sentinel on PHP 5.5"
Hi,

 I succeeded on install a native version of Sentinel on PHP 5.6, according to the site, Sentinel should work in PHP 5.4+, but when i'm installing on the client server, which has PHP 5.5 i get this error:

Parse error: syntax error, unexpected '.', expecting '&' or variable (T_VARIABLE) in /var/www/html/denuncias/admin/bibliotecas/sentinel/vendor/illuminate/support/helpers.php on line 509

i k

[2017-12-11 12:29] BackEndTea commented on #405
Could it be that composer require or update was ran a php 5.6+ environment ? Because composer will try to install the latest version possible in your environment.

If your server is running 5.5 i would suggest adding
[code]
to your composer.json. This will make sure that running ```composer update``` or ```composer require``` won't add packages that don't support that version of php.

And if at al

[2017-12-11 13:02] Fergall commented on #405
Thanks for the observation!

Gonna check that and test it to see if it works normally, and yeah, ideally it should update the server at least to 5.6, but we have no say in that, its the client decision :/

[2017-12-11 13:11] brunogaspar commented on #405
Hello @Fergall

As @BackEndTea mentioned, if you can update PHP versions, please go for it.

Another solution, not sure if it helps or not, as i don't know which version of `illuminate/support` it's being installed on your end, but you can also try to enforce on your `composer.json` an earlier version of the `illuminate/support` dependency we require until 5.0, other than that, there's not much we

[2017-12-11 13:11] #405 closed

[2017-12-11 14:35] Fergall commented on #405
Thanks for the help, my composer.json it looks like this now:

`{
    "name": "cartalyst/sentinel",
    "description": "PHP 5.4+ Fully-featured Authentication & Authorization System",
    "keywords": [
        "php",
        "cartalyst",
        "laravel",
        "auth",
        "security",
        "codeigniter",
        "fuelphp"
    ],
    "license": "BSD-3-Clause",
    "authors": [
        {

[2017-12-11 14:46] BackEndTea commented on #405
The
[code]
part should be in your own composer.json

[2017-12-11 14:55] Fergall commented on #405
@BackEndTea

Thanks, i still don't get the handle with Composer, but with that i made it work with a lesser version.

@brunogaspar now it's working, thanks both for the help :+1:

[2017-12-19 19:42] mmic-bjohnson commented on #257
This is not dead... I'll be sharing new information regarding this subject soon. ;)

[2017-12-21 22:08] chilio commented on #404
Managed this to work using comments [here](https://github.com/tymondesigns/jwt-auth/issues/1404)

[2017-12-21 22:08] #404 closed

[2017-12-23 05:31] hbsoftco commented on #103
@brunogaspar
How do I show it in user blade file?

[2017-12-23 12:44] brunogaspar commented on #103
@hbsoftco Save the roles in a variable, pass that variable to a Blade view and then loop through the roles.

Something along these lines:

[code]

[code]

Hope it helps!

[2017-12-24 18:34] TeyNey opened #406 "select users by age"
is there any way how to do this

$users = DB::table('users')->whereBetween('date_of_birth', [$carbon_max, $carbon_min])->get();

with sentinel ?

[2017-12-24 18:47] hbsoftco commented on #103
@brunogaspar thanks

[2017-12-26 13:53] brunogaspar commented on #406
Hello @TeyNey

You can use the Sentinel User Model:

[code]

Or you can use the Sentinel Users Repository:

[code]

Hope it helps!

[2017-12-26 13:53] #406 closed

[2018-01-02 21:02] camtarn commented on #160
If you're not using Laraval, and just want to use Sentinel on its own, you need to:

`composer require symfony/http-foundation illuminate/database illuminate/events`

I'd add this to the documentation but I'm afraid I have no idea how. Hopefully enough people will land on this issue and see this.

[2018-01-02 21:09] NinoSkopac commented on #160
@camtarn I've done it for you: https://github.com/cartalyst/sentinel/pull/407

nice to see we're coming full circle more than 2 years after I opened the issue

[2018-01-02 22:27] camtarn opened #408 "user->update() doesn't hash password"
It looks like user->update() is the intended mechanism for updating passwords, as mentioned in another issue.

In my current very vanilla setup, it seems to be storing plaintext passwords. Of course, this means that after a password update, the user is unable to log in.

        Sentinel::registerAndActivate([
          'email'    => 'test@example.com',
          'password' => 'asdf'
        ]);

[2018-01-02 22:31] suwardany commented on #408
Check https://cartalyst.com/manual/sentinel/2.0#sentinel-update

[2018-01-02 22:31] #408 closed

[2018-01-02 22:31] camtarn commented on #408
Oh. Didn't spot the difference between $user->update() and Sentinel::update( $user ). Never mind.

(this is kinda dangerous though - perhaps the docs should call this out?)

[2018-01-02 22:32] suwardany commented on #408
we could add a note there, ya

[2018-01-03 15:12] max-pro opened #409 "throttle error"
sentinel login throttle using public ip, which may denied user on same network.

[2018-01-03 16:31] vukanac commented on #385
How?
Any code sample for test, pls?

[2018-01-04 11:42] brunogaspar commented on #409
Hello @max-pro

Feel free to send a pull request with a better way to handle such cases.

Thanks!

[2018-01-04 11:42] #409 closed

[2018-01-04 11:44] brunogaspar commented on #396
Going to close as this doesn't seem very related to the package itself, but rather application specific.

[2018-01-04 11:44] #396 closed

[2018-01-04 21:29] KarelWintersky commented on #396
Popular user case. And 'app specific'/
Idiot

[2018-01-04 21:29] KarelWintersky commented on #396
Popular user case. And 'app specific'/
Idiot
Your library is useless absolutly

[2018-01-04 22:24] cbj4074 commented on #396
A useless library with 1,026 stars! 🤣

[2018-01-04 22:36] KarelWintersky commented on #396
star is NOT an effective instrument for measure code effectiveness.
`star` is like an like in any social network. no. more.

[2018-01-04 22:39] KarelWintersky commented on #396
I tried use this 'library'.
Sentinel overrides native laravel's middlewares. It makes it incompatible with other packages that use auth subsystem.
And this version of sentinel contains A LOT of dirty code

[2018-01-04 22:41] delia-curiel opened #410 "fire Logout Event"
Hi, I need to listen for the user logout, but I don't know if Sentinel fires this event.

[2018-01-05 08:57] kawalbabra opened #411 "Remember me - reauthenticating if user changes password"
Hi,

Thanks for this wonderful package. There is one query which I'd like to see if there is any solution to that.

When a user logs in by checking "remember me" it keeps him login for like 10 years. Working absolutely fine.

My question is,
- Let's say user logs from different machines. He logged in with "remember me" on system 1 and
- Later he logs in again on system 2. He changes the password o

[2018-01-05 12:17] brunogaspar commented on #411
Hello @kawalbabra

You can try and use the persistencies repository and flush the sessions

Example:

[code]

Let me know how it goes!

[2018-01-07 16:00] delia-curiel commented on #410
thanks @brunogaspar, I think it would be great to add this feature, just as the Auth package in Lavarel does (it fires two events on login and logout: 'Illuminate\Auth\Events\Login' and Illuminate\Auth\Events\Logout)

[2018-01-25 05:35] enprixd opened #413 "Sentinel not respecting softdeleted users"
It seems in this function

`
    public function findByCredentials(array $credentials)
    {
        if (empty($credentials)) {
            return;
        }

        $instance = $this->createModel();

        $loginNames = $instance->getLoginNames();

        list($logins, $password, $credentials) = $this->parseCredentials($credentials, $loginNames);

        if (empty($logins)) {
            ret

[2018-01-25 05:42] #413 closed

[2018-01-30 15:29] cbj4074 commented on #396
@KarelWintersky

Okay... is the number of downloads on packagist.org? Or what metric would you consider to be reflective of a given package's overall viability?

Were you under the impression that Sentinel is a "drop-in" replacement for Laravel's native Auth? If so, why?

Straight from the documentation:

How would a framework-agnostic package ever work as a drop-in replacement for Laravel's stock

[2018-01-31 23:13] jeffmthomas commented on #244
I feel that this should not have been closed, unless it was addressed elsewhere.

I feel like roles with `{"user.*": true, "user.delete": false}` should allow all except delete.  is this the intended effect?

[2018-01-31 23:24] drsii commented on #244
reopen for investigation.

[2018-02-01 06:13] sbnair opened #415 "Sentinel::check() issue in laravel 5.4"
Hi

   At certain times Sentinel::check() function is returning false and when this issues pops up i add just a test message using echo command something like this :
echo '<script language="javascript">';
         echo 'alert("Authentication 6")';
        echo  '</script>';
in check() function of sentinel class and this issue goes away, after some time it gets into normal state, why is this awkwar

[2018-02-02 06:06] enprixd opened #416 "Error in Laravel APIs and ThrottlesRequests"
I'm encountering a bug in Laravel during tests where Illuminate's ThrottlesRequest Middleware tries to call the getAuthIdentifier in the user at $request->user() but instead there's an empty EloquentUser object that Cartalyst might have put there by default.

`[2018-02-02 13:56:40] testing.ERROR: Call to undefined method Illuminate\Database\Query\Builder::getAuthIdentifier() {"exception":"[object]

[2018-02-02 06:51] #416 closed

[2018-02-02 06:52] enprixd commented on #416
This is a case of me not implementing the Authenticatable contract on my user object.

I apologize.

[2018-02-02 11:00] gifary opened #417 "getAuthIdentifierName"
Hello I am getting this error BadMethodCallException
Call to undefined method Illuminate\Database\Query\Builder::getAuthIdentifierName() when using laravel passport. I am stuck how to solve this.

Best regargs,
gifary

[2018-02-04 19:42] kfeng0806 commented on #417
You should implement this interface in your Account model as per the docs: https://laravel.com/docs/5.5/authentication#the-authenticatable-contract

If you are using the default user model from sentinel, then you need make a copy of `Cartalyst\Sentinel\Users\EloquentUser` to `App\User` or `App\Models\User` then implement the above contract(Don't forget change the namespace or class name of Eloquen

[2018-02-06 14:29] IdkMan2 opened #418 "NullPointerExeception on server start"
Issue occurs only once on server start.
Error:
https://pastebin.com/FUTWwbgm
Sentinel config:
https://pastebin.com/A7GPq9z0
Citizens config:
https://pastebin.com/RpxbjqGY

I am using latest PaperSpigot, Sentinel build 119 and latest Citizens.

[2018-02-13 00:04] deanlaw opened #419 "Laravel 5.6 support"
Are there any issues running with the now released Laravel 5.6?

[2018-02-13 00:16] deanlaw opened #420 "onSessionStart Event"
I have an issue with the remember_me feature and last_login dates. I need to track returning users, not just new logins. If someone logs into the site and chooses the remember me option, their last_login field never changes when they return to the site and are simply automatically re-logged into the site. I have to be able to generate a report of all users who have used the site each day and with

[2018-02-19 08:39] #417 closed

[2018-02-22 09:14] aurmil opened #421 "Bug with findByCredentials()"
Hello,

in https://github.com/cartalyst/sentinel/blob/8ee7778f96ab6193f4be118a52d265c6861de0a5/src/Users/IlluminateUserRepository.php#L85
password is read from
https://github.com/cartalyst/sentinel/blob/8ee7778f96ab6193f4be118a52d265c6861de0a5/src/Users/IlluminateUserRepository.php#L95
but is not used after that, there is no check that user password matches $password...

[2018-02-22 09:17] suwardany commented on #421
This is not meant to authorize, it's only meant to find a user based on their email or login names incase they are not default.

[2018-02-22 09:17] #421 closed

[2018-02-22 13:01] ivansammartino commented on #136
I'm also trying to "merge" native Laravel Auth and Sentinel: but I'm using Laravel 5.5 and something is changed in the AuthServiceProvider since the @benkelukas snippet...
Please, how can I do this?
Thanks

[2018-02-22 15:41] vijaymgr opened #422 "Login without password while using social login"
I am using socialite in laravel 5.4. After redirect back to my application, I need to logged the user in. I know that user can be logged in by `Sentinel::login($user)` but, it needs email and password. Since I am using social login, I don't have password. So, I get message `You have not passed a [password]`. How to handle this error in such scenario?

[2018-02-22 16:17] vijayrana-me commented on #342
I also want to know how to hash password, so that i can manually hash when needed. Did you find any solution?

[2018-03-07 12:10] v1nk0 commented on #422
The function **login** does need the credentials.
Do you maybe mean the **register** function?

[2018-03-09 16:43] sbnair opened #423 "Getting issue related to Sentinel"
Hi

   Today i upgraded my website from laravel 5.4 into laravel 5.6, after this i am not able to use Sentinel class for validating credentials, hence validation is failing, i am using "cartalyst/sentinel": "2.0.17".Please let me know any fix for it.

Thanks,
Shailesh Nair.

[2018-03-11 10:33] TeyNey opened #424 "extending sentinel"
i read https://github.com/cartalyst/sentinel/wiki/Extending-Sentinel but i'm not sure if i got it right. I can use eloquent syntax and it will use sentinel with all his security yes ?

[2018-03-13 19:08] brunogaspar commented on #418
Hello @IdkMan2 it seems that you've opened the issue on the incorrect repository.

[2018-03-13 19:08] #418 closed

[2018-03-13 19:09] brunogaspar commented on #411
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2018-03-13 19:09] #411 closed

[2018-03-13 19:16] brunogaspar commented on #415
Hello @sbnair

Without having a good way to reproduce the issue, is extremely difficult to help you figure out the problem on your application might be.

With that said, the issue can vary by being concurrent requests causing this somehow, filesystem permissions (when writing the session file), something on your application that has a wrong logic that could potentially cause this behaviour or some

[2018-03-13 19:16] #415 closed

[2018-03-19 14:35] taoyantu opened #425 "how to add parameter after the url ,like GET index/_search?preference=network"
Now I have a very difficult problem, and I need to add parameters after the Url to ensure the stability of the result.
   how to add the config?
   i want to search like GET index/_search?preference=network
   please help me ,thank you very much !!

[2018-03-19 15:04] brunogaspar commented on #425
Hello @taoyantu , i believe you have opened an issue on the wrong repository :)

[2018-03-19 15:04] #425 closed

[2018-03-20 01:04] taoyantu commented on #425
@brunogaspar oh~~ sorry,i `m wrong..

[2018-03-23 07:15] LiXunGuan opened #426 "in sql server millisecond error"
i use sql server database.
``
[2018-03-23 14:49:43] local.ERROR: SQLSTATE[22007]: [Microsoft][ODBC Driver 11 for SQL Server][SQL Server]从字符串转换日期和/或时间时，转换失败。 (SQL: select * from [crm_throttle] where [type] = ip and [ip] = 101.81.252.199 and [created_at] > 2018-03-23 14:34:42.1000) {"exception":"[object] (Illuminate\\Database\\QueryException(code: 22007): SQLSTATE[22007]: [Microsoft][ODBC Driver 11

[2018-04-04 16:45] brunogaspar commented on #424
Hello @TeyNey

Sentinel, by default, uses Eloquent, so you don't really need to anything in that regard.

The main purpose of extending is to add additional or modify current methods from the repositories or even models.

It also allows to swap Eloquent and use a different implementation.

Hope it helps.

[2018-04-04 16:45] #424 closed

[2018-04-04 16:46] brunogaspar commented on #426
Hello @LiXunGuan

I personally don't have access to a SQLServer, so it's quite difficult to understand where the issue might come from and to determine if it's something within our code or something that might come from Laravel Eloquent itself.

[2018-04-04 16:47] brunogaspar commented on #423
Hello @sbnair

Can you please be a bit more specific on the issue you're having?
Also, if possible, provide some code snippets.

[2018-04-04 16:51] brunogaspar commented on #419
@deanlaw As far as we know, we are not aware of issues with Laravel 5.6.

If you however encounter any problem, please feel free to create a new issue.

Thanks!

[2018-04-04 16:51] #419 closed

[2018-04-05 04:31] jaywizzy opened #427 "Hello, I dunno why I keep getting: Type error: Argument 1 passed to Cartalyst\Sentinel\Sentinel::register() must be of the type array, object given when trying to use Sentinel::register()"

[2018-04-05 11:57] brunogaspar commented on #427
Hello @jaywizzy

The error seems to be straight forward.

You're passing an object instead of an array when calling the `Sentinel::register()` method.
[This method only accepts an array as the first argument](https://github.com/cartalyst/sentinel/blob/2.0/src/Sentinel.php#L163).

Hope it helps.

[2018-04-05 11:57] #427 closed

[2018-04-06 02:55] jaywizzy opened #428 "I dunno why I'm getting No [login] credential was passed."

[2018-04-06 03:02] drsii commented on #428
Neither do we. We'll need way more info and code examples to help.

[2018-04-06 04:05] jaywizzy commented on #428
Honestly, the documentation is not helping and I have a deadline to meet up with, wish I hadn't used it from the start.

[2018-04-06 04:07] jaywizzy commented on #428
The thing is I'm trying to create a new user but it keeps telling me: No [login] credential was passed.

[2018-04-06 04:12] jaywizzy commented on #428
In my controller I have:

public function save(Request $request){
        $validatedRecords = $request->validate([
            'username' => 'required|unique:users',
            'first_name' => 'required',
            'email' => 'required|unique:users',
            'organisation'  =>  'required',
            'password'  =>  'required',
            'g-recaptcha-response' => 'required|recaptcha',

[2018-04-06 04:15] jaywizzy commented on #428
and in the migration file:
Schema::create('users', function (Blueprint $table) {
            $table->increments('id');
            $table->string('username')->nullable()->unique();
            $table->string('email');
            $table->text('permissions')->nullable();
            $table->timestamp('last_login')->nullable();
            $table->string('first_name');
            $table->string('la

[2018-04-06 04:15] jaywizzy commented on #428
I don't know what I'm doing wrong. Please, help me out

[2018-04-06 04:28] jaywizzy commented on #428
let me try that.

[2018-04-06 04:49] jaywizzy commented on #428
it's populating the DB and I got this:

 +wasRecentlyCreated: true
  #attributes: array:14 [▼
    "first_name" => "segun"
    "last_name" => "oluwasegun"
    "title" => null
    "organisation" => "nHub"
    "department" => null
    "position" => null
    "postal_address" => null
    "phone" => null
    "email" => "jaywizzy@gmail.com"
    "comment" => null
    "password" => "vanshergzie"
    "updat

[2018-04-06 04:50] jaywizzy commented on #428
but when I remove it, it returns the error message again

[2018-04-06 06:08] jaywizzy commented on #428
User {#235 ▼
  #fillable: array:4 [▼
    0 => "email"
    1 => "password"
    2 => "first_name"
    3 => "last_name"
  ]
  #hidden: array:2 [▼
    0 => "password"
    1 => "remember_token"
  ]
  #table: "users"
  #persistableKey: "user_id"
  #persistableRelationship: "persistences"
  #loginNames: array:1 [▼
    0 => "email"
  ]
  #connection: "mysql"
  #primaryKey: "id"
  #keyType: "int"
  +increm

[2018-04-06 06:12] drsii commented on #428
I'm not near my computer but please scrub user passwords from your dumps.

[2018-04-06 08:42] jaywizzy commented on #428
Ok. I will

[2018-04-06 12:54] ivansammartino commented on #244
I confirm the bug from @Briareos17: having role permissions set to `{"*":true}` (or even `{"user.*":true}`) and personal user permission to `{"user.delete":false}` still allow the user to delete models even if the user permission should override the roles ones

[2018-04-06 13:40] brunogaspar commented on #428
Hello @jaywizzy

The problem is that you're passing an array with something inside that array to the `register` method.

Your code:

[code]

With this in mind the `$user` seems to hold an Eloquent relation, therefore, with your code, you're passing an incorrect payload to the `register` method, as in the end it will be:

[code]

Which is wrong :)

It should be just something like:

[code]

The doc

[2018-04-06 13:40] #428 closed

[2018-04-06 20:31] jaywizzy commented on #428
Thanks @brunogaspar it works, you're the best

[2018-04-06 23:18] brunogaspar commented on #428
No problem @jaywizzy 👍

[2018-04-07 17:25] LiXunGuan commented on #426
@brunogaspar laravel eloquent bug

[2018-04-08 01:06] mdisconzi commented on #251
My problem was solved putting all routes "web", laravel 5.6

[2018-04-08 02:05] #426 closed

[2018-04-08 06:32] jaywizzy opened #429 "Hi, I can't use the password that I use to register to login. but when I go into the DB to copy the hashed password, it authenticates. why?"

[2018-04-08 06:57] jaywizzy commented on #429
i even tried something like:
![screenshot from 2018-04-08 07-48-44](https://user-images.githubusercontent.com/20246953/38464248-320972bc-3b02-11e8-8d7d-678aed2ba3f2.png)
but it didn't work and I got something like this:
![screenshot from 2018-04-08 07-49-05](https://user-images.githubusercontent.com/20246953/38464253-49df2602-3b02-11e8-8cc7-f71966950d92.png)
then I went to the database and found o

[2018-04-08 20:00] brunogaspar commented on #429
Hello @jaywizzy

What is the exact code that you're using to perform the authentication? I can only see a glimpse of it on the first image and it seems that you're doing it a bit wrong.

[2018-04-09 15:12] GhulamJafar opened #430 "Is there permissions saving limit?"
Does sentinel have any limit of saving permission in role permission column.

I am saving permissions. It was saving fine. But now today when i add some more permissions. Its not saving these permissions. Saving all old permissions. But not new one. Even i made permission column LONG TEXT. Its saving other words, But not saving permissions.

Its looking there is limit on saving permissions in code

[2018-04-10 17:26] brunogaspar commented on #430
Hello @GhulamJafar

It seems you have a big list of permissions..

Are you able to paste your permissions as `JSON` format so we can determine what column type would be more suitable for your use case?

[2018-04-11 05:35] GhulamJafar commented on #430
{
   "application.desk_officer_dashboard.dashboard":false,
   "application.desk_officer_dashboard.re_evaluation_application":false,
   "application.desk_officer_dashboard.add_application":false,
   "application.desk_officer_dashboard.save_application":false,
   "application.desk_officer_dashboard.edit_application":false,
   "application.desk_officer_dashboard.update_application":false,
   "applica

[2018-04-11 12:13] brunogaspar commented on #430
@GhulamJafar

I just tested with Laravel 5.5.40 and Sentinel v2.0.17, clean install, and created a user through Sentinel, then updated the user permissions using the list above (just converted to be a PHP array, instead of a JSON string) and it saved the permissions fine.

Did the same for a role, worked the same way.

I even added a few more permissions, seems to be working as expected.

So it's

[2018-04-12 04:38] GhulamJafar commented on #430
@brunogaspar
Thanks you so much for your kind response.

Okay, I will see my code as well. Do database column fine with text-long type?

[2018-04-12 13:04] brunogaspar commented on #430
@GhulamJafar

LongText should also work as expected.

I'm curious, what MySQL version are you using?

[2018-04-12 16:12] gwiwoloku opened #431 "IP exclusion"
Hi,

Is there a way to bypass the Sentinel checkpoint so a set of ips won't it the throttle?

Thanks

[2018-04-13 12:58] GhulamJafar commented on #430
We are using MySql version 5.6.38.

[2018-05-11 10:51] mimbar opened #433 "make username as unique as email"
Hi, I managed to use username than email to authenticate. I'm done with login, register and edit user. But i just found out the username don't do unique auth as email did. so if there username "admin" and edit some user with similar username that exist in table, it saved. but not working with email because it's unique.

is there any way to make Username unique too ?
thanks !

[2018-05-11 12:07] brunogaspar commented on #433
Hello @mimbar

You'll need to add uniqueness to the username column as well using the `$this->unique('username');`on a migration, similar to how do [here](https://github.com/cartalyst/sentinel/blob/2.0/src/migrations/2014_07_02_230147_migration_cartalyst_sentinel.php#L107) for the email column.

Other solution would be to also validate the username for uniqueness using the Laravel validator when c

[2018-05-11 12:07] #433 closed

[2018-05-19 03:37] chrisbjr commented on #335
hi @brunogaspar would also like to know how long the "remember" flag will remember the session. Can't seem to find documentation on that anywhere. Thanks!

[2018-05-21 09:46] dahabit opened #435 "Multi-tenancy support"
Hello guys, it's has been a long time now we are waiting for Sentinel 3 and Multi-tenancy support any news about that or is there are links explain how we can use other packages like https://github.com/hyn/multi-tenant work correctly with Sentinel

[2018-05-21 12:32] basherdesigns commented on #431
I would also like to know how you could "whitelist" an IP so it is excluded from throttling. Thanks!

[2018-05-21 21:00] dahabit commented on #435
@bkintanar thanks for your replay ,  my question is when you enabled multi-tenant do you had to extend Sentinel core classes to add DB connection traits or what? I'm using  https://github.com/AsgardCms/Platform

[2018-05-22 05:21] wattsie opened #436 "[Question] : Split Auth System with User/Pass in external function call w- Auto Registration"
Hi All,
  Trying to work out how best to solve an issue.

  I have an external system, which stores username and passwords. I can access this via a function I wrote for example, "CheckExternalUserPass($user, $pass)" and it will return true if they correct or false is not.

  When user tries to login, if the user does not exist within Sentinel, call the function "CheckExternalUserPass", if true, au

[2018-05-26 03:22] #436 closed, assigned to nobody

[2018-05-26 19:10] rlweb opened #437 "Laravel 5.6 has upgraded its logging system so it is not monolog specific"
Within src/Sentry/SentryLaravel/SentryLaravelServiceProvider.php:53 getMonolog has been called on the Logger class Laravel Framework src/Illuminate/Log/Logger.php this has been removed. I guess \Illuminate\Log\Logger::getLogger is designed to be used instead but now you get PSR compliant logger interface.

[2018-05-26 19:11] rlweb commented on #437
Oops, wrong repository!

[2018-05-26 19:11] #437 closed

[2018-05-28 10:48] bkintanar commented on #435
@dahabit apparently yes. 😞

[2018-05-31 02:55] lehainam125 commented on #410
+1

[2018-06-15 07:11] LiXunGuan opened #438 "how to use sentinel support laravel passport"
laravel version 5.5

[2018-06-15 08:59] #438 closed

[2018-07-05 11:00] minedun6 opened #439 "Reset login attempts per user"
Hi, I'm building an admin dashboard for a super admin with features such as (Manage password, Manage user licences, Manage User Login Attempts).

Is it possible using the current api of Sentinel to reset login attempts PER user ?
As well as to check if the user is login throttled or not ?

[2018-07-19 15:50] felipemarques opened #440 "[Proposal] New method: User()->inAnyRole()"
Hello guys,

Recently, i needed to create a custom method for check multiple roles of an user, using a middleware. I could do this implementing an foreach an other workarounds, but, if i had a specific method like this, i could minimize my work. So, in the below my middleware code, and my method inAnyRole() implemented on the Eloquent  user model:

[code]

[code]

[2018-07-20 13:45] SharmaTushar commented on #373
Deprecation Warning: Sentinel::getUser() should not be called statically.

[2018-07-21 10:33] vanvantsyan commented on #242
Does anybody solved that problem ?

[2018-07-21 13:32] vanvantsyan opened #441 "SecondaryPermissions is returning string in array instead of array"
Sentinel::hasAccess($some_route)

For just Users roles it works fine , but if user has some Role , when getting the Role permissions from DB , it returns a string (like : "{"users.create":true,"users.delete":true,}") instead of array . It causes an error:

Type error: Argument 2 passed to Cartalyst\Sentinel\Permissions\StandardPermissions::preparePermissions() must be of the type array, string giv

[2018-07-21 13:51] brunogaspar commented on #441
You most likely tampered with the data manually or incorrectly saved using the query builder or something.

I'm saying this because `{"users.create":true,"users.delete":true,}` is not valid JSON.

[2018-07-21 13:51] #441 closed

[2018-07-21 14:19] vanvantsyan commented on #441
@brunogaspar Thank you so much for quick response.
It will be a great help if you advice a way to solve this. Thank you.
This one is the real value role permissions.
{"users.create":true,"users.store":true,"users.destroy":true,"users.view":true,"users.update":true}
The same value for user permissions.

In PermissionTrait.php
    public function __construct(array $permissions = null, array $seconda

[2018-07-21 14:22] brunogaspar commented on #441
What's the code you're using that causes this? I'm not being able to reproduce.

[2018-07-21 19:42] mwolfeconsultant commented on #441
Hello - I reviewed Van's code and found the issue. You were correct in that it was on our end and I appreciate your input.

I'll go ahead and note here what I found as to potentially assist anyone else who may run into this issue in the future. The problem was our User model referenced a different Role model, and this didn't allow Sentinel's default Role model to be used.

As Brungogaspar has been

[2018-07-23 10:45] alankarglobant opened #443 "User redirecting towards the Login page after Sentinel::login / Sentinel::authenticate method."
Sentinel login method returning the EloquentUser but it is not redirecting towards the intended page.
Below is the response return by the

[code]
[code]

Here is my Login method code.

[code]
I am trying to intergrate the Sentinel with Laravel's inbuilt Authentication controllers i.e. ```RegisterController``` and ```LoginController```.

user is redirecting towards the login page after login.

Than

[2018-07-26 08:02] alankarglobant opened #444 "Sentinel Throttle implementation. getThrottleRepository returning null."
The documentation is also not supportive for throttle implementation.
`Sentinel::getThrottleRepository()` return null.

`Call to a member function setUserThresholds() on null` error returns when : `$throttle = Sentinel::getThrottleRepository()->setUserThresholds(5);`

[2018-07-26 09:24] alankarglobant commented on #444
Sorry for the Sentry check issue it was the middleware integration not related with the Sentinel. Apologies for the same.

[2018-07-27 14:56] roquie commented on #419
Maybe this feature will help someone: https://gist.github.com/roquie/29e7f304a99fb9ab6b29485039d79710

[2018-08-14 14:53] Gertiozuni commented on #374
I came accross an issue like:
when adding middleware like this: `->middleware('can:see-survey,survey')` i had to add another method to the guard:
`public function authenticate() {

    }`

[2018-08-30 07:54] rolandalla commented on #128
I managed it with creating a function to my User Model
[code]

After that you can call it example for the  auth user:
`Sentinel::getUser()->getAllPermissions()`

Return:

[code]

[2018-10-07 01:40] JospyK opened #445 "How to change login fields?"
Hi everyone. Hope you're doing good.
I'm using laravel 5.4 on a project right now and I want to **change** actual login field (**email and password**) **by** something like **Phone and password**. I don't know how to manage that. And of course I'm using Sentinel package for my Auth System.
Could someone help me solve this issue? Thanks to everyone.

[2018-11-17 18:23] fpilee opened #446 "Fatal error: Uncaught Error: Class 'Reminder' not found in"
I'm using native Sentinel,
The Reminder class in not available in Cartalyst\Sentinel\Native\Facades\Sentinel;

[2018-11-17 18:41] fpilee commented on #446
[code]

[2018-11-17 18:41] #446 closed

[2018-11-20 12:56] MostafaAttia opened #447 "Request to /broadcasting/auth always returns 403 forbidden when using this package"
I have been working on this issue for more than one month, and it was extremely upsetting and hard to discover.

I'm trying to use Laravel to broadcast private notifications to Pusher, the problem was that Laravel can't authenticate the current logged in user through `broadcasting/auth`.

I tried to reproduce the issue in a fresh Laravel install, everything works fine until I install this package

[2018-11-21 02:18] suwardany commented on #447
Hello @MostafaAttia ..

I'm unable to reproduce this issue on my end, 403 is only returned while the user is not actually logged in.

As soon as i log the user in, it properly authenticates and i can start receiving events from pusher without any issues.

[2018-11-27 15:09] MostafaAttia commented on #447
Hi @suwardany, thanks for your reply.
I still get this error and can't figure out where it came from. maybe something in my OS? I'm using ubuntu 16.04.

Everything works fine until I install the package. It's a fresh Laravel install with the default Laravel auth system. Here is my project on [Github](https://github.com/MostafaAttia/test-notifs)

What may cause this problem to happen?

[2018-11-30 15:55] MostafaAttia commented on #447
@suwardany Could you please provide some more details about what you think cause this problem?

I don't even use Sentinel to authenticate the current user, I just use the default Laravel auth!
Once I install the package (without using it) the auth request fails.

[2018-11-30 16:20] suwardany commented on #447
You cannot combine Laravel's Auth and Sentinel together.

If you install Sentinel, the user set on the request is updated to use the Sentinel user, that user is what is being passed to the `Broadcast::channel` call.

[2018-12-01 08:11] Surya1995 commented on #445
simple just add in login columns
project/config/platform-users.php
`
'login_columns' => [
        'email',
        'password',
    ],

'login_columns' => [
        'email',
        'phone',
        'password',
    ],
`

[2018-12-01 08:16] Surya1995 opened #448 "how can i run platform extension on default laravel"
how can i run platform extension on default laravel
@brunogaspar

[2018-12-13 10:18] JospyK commented on #445
thank you @Surya1995

[2018-12-13 10:18] #445 closed

[2018-12-14 12:40] Surya1995 commented on #410
@delia-curiel
maybe you should try to make an own feature using the user-override extension and fire event whenever you want I have fired an event on forgot password .
[useroveride.zip](https://github.com/cartalyst/sentinel/files/2680075/useroveride.zip)

@brunogaspar

[2018-12-18 07:19] dakshhmehta commented on #415
Hello @brunogaspar ,

Yes this is still re-producable in the following version:

Here is system info:
Laravel Version: 5.1.46 (LTS)
Sentinel version: 2.0.*

This happen when a page is being open multiple times, after what number of pages is random.
However, I manage to grab a log in middleware
and Sentinel::check returns false and getUser() returns null.

Also, I am using database driver for sessi

[2018-12-18 13:58] cbj4074 commented on #415
"Reproducible" *in code*.

Sure, someone can look at your site and see that this problem occurs, but until somebody can provide a concise code sample that demonstrates the problem, it's not practical to troubleshoot.

Also, given that you're using the database driver for sessions, my hunch is that you have some type of locking issue happening, which has nothing to do with Sentinel (the session dri

[2018-12-19 09:01] raheezbankopen opened #449 "After login sentinel :: check() getting FALSE in other controller"
I am using Laravel 5.6 and sentinel 2.0. at the time of login its getting the value to Sentinel :: Check(). when it redirect to another Controller or another page session have been cleared and showing that **FALSE** . I have tried many time in project but still getting FALSE

[2018-12-20 14:06] cbj4074 commented on #449
Sounds like a middleware problem, and likely nothing to do with Sentinel. But without seeing any code, we're merely speculating.

[2018-12-21 06:48] raheezbankopen commented on #449
`function login(Request $request)
{
    $credentials=[
            'email'=>'xxxx@admin.com',
            'password'=>'xxxx'
        ];

        $res=Sentinel::authenticate($credentials);

        if ($res==true)
        {
            return redirect('dashboard');
        }
        else
        {
            return redirect('login');

        }
}

public function dashboard()
{

    dd(Sentinel::ch

[2018-12-21 07:14] raheezbankopen commented on #449
I am not using any middleware using the basic one "WEB"

[2018-12-21 13:31] cbj4074 commented on #449
Thanks for showing your code.

You need to be using `Sentinel::login()`. The `authenticate()` method is different.

See: https://cartalyst.com/manual/sentinel/2.0#login

[2018-12-24 06:30] raheezbankopen commented on #449
I have tried like this,
[code]

[code]

getting same FALSE. but inside login function getting fine outside its false

[2018-12-24 09:14] raheezbankopen commented on #449
Problem is when I change Users table primary key id to users_id then it return FALSE.

[2019-01-30 08:15] benwrigley opened #451 "Failed authentication not throwing Throttling Exception"
I've replicated this in tinker and phpunit so far.

I have a user throttling set to 5 in my config.

using tinker if I run:

`Sentinel::authenticate(['email' => 'real@user.email', 'password' => 'wrong-password'])`

I get `false` as expected.

keep running the same command I keep getting `false` no matter hoe many times, the `ThrottlingException` is never thrown.

Unless I restart tinker and then r

[2019-02-07 21:31] Newdelay opened #452 "AppserviceProvider Dynamic Set Model"
Hi, I got a problem. how I make dynamic setmodel in AppserviceProvider for Runtime.

I have two authentication in my project, and two login  dealers and customers.
that's why I need dynamic model.

I tried this.

DEALERS LOGİN CONTROLLER

`try{

      $credentials = [
        'username' => $request->username,
        'password' => $request->password,
      ];

      Sentinel::setModel('App\Models\

[2019-02-12 19:19] lorvent commented on #161
@shahidbasheer can you share your new checkpoints?

thanks

[2019-02-18 12:28] tjhunkin opened #454 "Is this project dead?"
The last commit for this project was in Nov 2017. Can we assume that it's dead? If so, what is a viable alternative?

[2019-02-18 16:55] drsii commented on #454
The project is maintained.

[2019-02-18 16:55] #454 closed

[2019-02-27 17:43] a3gz opened #455 "Conflict with Illuminate/events 5.8"
Hello

I'm getting an error when I try to `registerAndActivate()` a user.
The error is:

    Call to undefined method Illuminate\Events\Dispatcher::fire()

thrown at

    cartalyst/support/src/Traits/EventTrait.php

on line 127.

I learned that [Illuminate Events removed the `fire()` event on version 5.8](https://github.com/illuminate/events/commit/eaf87f7a83b3a199f855379d5ccc1c63dc88574b).
I thin

[2019-02-27 19:53] atxy2k commented on #455
I have the same issue

[2019-02-28 00:19] Mxrck commented on #455
I have this problem too, i made a pull request in cartalyst/support, meanwhile i create a package with the fix, waiting by their own fix

https://github.com/Mxrck/sentinel

`composer require mxrck/sentinel:2.0.18`

[2019-02-28 18:15] Mxrck commented on #455
found also calls to str helpers in a few files on this package

https://github.com/Mxrck/sentinel/commit/127d836c0a050084c50eea246d6d08446a72e75c

I don't know how to made pull request without the composer.json updated in my fork

[2019-02-28 18:16] drsii commented on #455
An FYI, we will have this repo updated by monday. @Mxrck appreciate your good work.

[2019-03-01 06:42] Surya1995 commented on #455
@a3gz save entry with activated = true

[2019-03-01 13:33] a3gz commented on #455
@Surya1995 I'm not entirely sure that I understand what you mean, but if I do then: the `fireEvent()` method will be called anyway from `register()`.

[2019-03-01 16:41] RalphMRivera commented on #455
As an FYI, here's the error output I get when running tests:

[code]

Implementing the solution provided by @a3gz fixed the problem for me and all my tests ran successfully.

[2019-03-02 12:27] brunogaspar commented on #455
Released `cartalyst/support` `v2.0.2` and then `v2.0.3` with a small revision.

Give `composer update` a go and see if it solves the issue and works as expected.

[2019-03-02 12:28] brunogaspar commented on #455
@Mxrck Feel free to submit a pull request with your other changes for dropping the usage of the deprecated Laravel helpers and use the classes instead.

[2019-03-02 14:33] RalphMRivera commented on #455
@brunogaspar I just deleted my Vendor folder, ran `composer install` and everything ran great. Thanks for all your hard work!

[2019-03-02 18:43] a3gz commented on #455
@brunogaspar Problem solved; Thank you very much!

[2019-03-02 18:43] #455 closed

[2019-03-05 16:09] talal424 commented on #429
its a typo

column "passwor" should be "password"

check the model for typos

[2019-03-05 16:13] talal424 commented on #451
did you wrap it with try catch ?

[2019-03-05 16:19] talal424 commented on #452
i would recommend using single authentication system and use roles to determine user identity
if you are lazy ( like me ) and dont want to use roles you can alter the table users and add new column and add it to the model then you can simple check by $user->newColumn === 'customer'

[2019-03-05 16:27] talal424 commented on #449
i'm never used laravel but this seems like a cache problem

[2019-03-06 16:55] benwrigley commented on #451
@talal424

no, this issue is not how to catch it, but that the Exception simply isn't thrown when it should be.

[2019-03-06 23:38] brunogaspar commented on #451
@benwrigley Care to share one of the affected feature tests?

Also, is it reproducible outside of tests, like, real world usage?

[2019-03-07 07:39] benwrigley commented on #451
hi @brunogaspar

No I can't replicate in the real world and the issue doesn't occur in dusk tests (I'm guessing this might be because the session is renewed each step?)

Here is the test:

[code]

[2019-03-08 12:51] andela-tolotin commented on #320
To solve this problem you will have to do 2 things; import the interface and use the trait on the User model
- Illuminate\Auth\Authenticatable;
-  Illuminate\Contracts\Auth\Authenticatable as AuthenticatableContract;

[code]

You should be fine afterward.

[2019-03-09 02:08] talal424 commented on #451
@benwrigley
yeah it was a dumb comment :laughing:

[2019-03-12 20:35] RalphMRivera opened #456 "Sentinel and Laravel Horizon"
Hi,

I’ve been trying to get Horizon to work with Sentinel and I’m not having any luck.

Horizon provides the following gate:

[code]

But calling something like `Sentinel::check()` here always results in false. I know that Horizon is designed to work seamlessly with the built in Laravel Auth, but I’m not sure how to get it working with Sentinel. I’d like to be able to call the check and then test

[2019-03-14 16:55] brunogaspar commented on #456
Hello @RalphMRivera

Can you try to add the following on the  `boot()` method of the published `HorizonServiceProvider`

[code]

If that works, you don't need the `Gate` call below as it's overriding the default way Horizon uses to authenticate.

Adjust the code as needed though.

[2019-03-14 21:34] RalphMRivera commented on #456
Thanks @brunogaspar

[2019-03-14 21:34] #456 closed

[2019-03-14 22:01] brunogaspar commented on #451
@benwrigley Just did a quick test with tinker and in fact i cannot see the Exception, however, if i close the tinker session and reopen it then run the authenticate command, it will show the exception.

So it seems a thing with tinker itself, not sure if it's a bug within Sentinel though.

Going to close, but feel free to reopen if you still find it's something within Sentinel we can tweak.

[2019-03-14 22:19] brunogaspar commented on #452
As @talal424 suggested, use a single system, which seems better, but if it that doesn't work for you, try to call the setters within a middleware perhaps? That way you can possibly detect which one to apply using session or something else.

[2019-03-14 22:19] #452 closed

[2019-03-14 22:28] brunogaspar commented on #422
During OAuth, you should be able to have access to a User identifier, like the email address.

In that case, you can technically use something like:

[code]

The `login()` only accepts a `User` instance, therefore, you don't a password.

Hope it helps.

[2019-03-14 22:28] #422 closed

[2019-03-14 22:29] brunogaspar commented on #448
Hello @Surya1995 you'll need to be more specific and perhaps create the issue on the Platform repository or send a support ticket through email.

[2019-03-14 22:29] #448 closed

[2019-03-14 22:29] brunogaspar commented on #423
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-03-14 22:29] #423 closed

[2019-03-14 22:37] brunogaspar commented on #449
@raheezbankopen Try to determine if your application can persist sessions from one page to another.

Here's a set of very simple routes you can add on your app to quickly test:

[code]

First visit the `/test-a` endpoint and it should redirect you to `/test-b`.

- If you see the text `here` on the screen and you still have problems with Sentinel, then the problem is somewhere else. We will need to

[2019-03-14 22:44] brunogaspar commented on #429
Good catch @talal424

Closing as seems to not be related to Sentinel.

[2019-03-14 22:44] #429 closed

[2019-03-14 22:45] #321 closed

[2019-03-14 22:52] brunogaspar commented on #444
It seems the Throttling repository is not being set on the Sentinel instance, only on the Checkpoint.

Adding `$sentinel->setThrottleRepository($app['sentinel.throttling']);` around line 321 of the `SentinelServiceProvider` seems to solve the problem.

@suwardany Was there any reason or was pretty much forgotten?

[2019-03-14 22:53] brunogaspar commented on #443
@alankarglobant Not sure if you have figured it out, but it seems something else is missing.

Have you checked the middleware as well to ensure it has the logged in user on the request?

[2019-03-14 22:55] brunogaspar commented on #440
Looks nice.

Want to send a pull request with the implementation + a test or two?

[2019-03-14 23:03] brunogaspar commented on #431
Hello

This doesn't seem to be possible at the moment but would be a very good feature to have implemented i think.

We totally welcome it if someone want's to try to implement it.

As a workaround and one of the ways to achieve this is by using a middleware, where you check the IP address and disable throttling if that IP is within a range of IP's for example.

[2019-03-14 23:03] #431 closed

[2019-03-14 23:04] brunogaspar commented on #430
Going to close as i don't really think it's a problem within Sentinel as i personally could never reproduce the issue 😞

[2019-03-14 23:04] #430 closed

[2019-03-14 23:05] brunogaspar commented on #401
This is technically possible, you just need to fetch a User using the email address perhaps, and then call the `Sentinel::login($user)` method.

[2019-03-14 23:05] #401 closed

[2019-03-14 23:08] brunogaspar commented on #420
Hello @deanlaw

That's an interesting request.

I agree that it would be good to have such event or even a flag to turn on/off that update on the `last_login` column, or perhaps both :)

Feel free to submit a pull request with an implementation if you feel like it, we totally welcome it!

Thanks!

[2019-03-14 23:08] #420 closed

[2019-03-15 09:37] GhulamJafar commented on #430
This is resolved now. There is php issue, No of variables were 500, I just
made it 2000. Issue fixed.

Thanks,
Jafar

On Fri, Mar 15, 2019 at 4:04 AM Bruno Gaspar <notifications@github.com>
wrote:

[2019-03-15 10:27] benwrigley commented on #451
Hi @brunogaspar

I don't think it's just a tinker issue as I am having the problem in my feature tests too so I think it's still worth investigating?

Thanks

[2019-03-15 10:48] brunogaspar commented on #451
I'll reopen, but i don't have enough time today to revisit this though.

[2019-03-15 12:57] benwrigley commented on #451
@brunogaspar of course, totally understand. Thank you.

[2019-03-18 13:24] rambo666 commented on #136
Using Laravel 5.6,
My authenticated user is sentinel user. I have not authenticated using Auth facade.
However, to use policy for sentinel authenticated user you just need to question mark the User model on your Policy Definition.

    AgencyPolicy.php
    public function update(?User $user, Agencyuser $agencyUser)
    {
        return $user->id === $agencyUser->user_id;
    }

Notice the use of ?

[2019-04-03 22:24] sumagowda opened #458 "Call to undefined method Illuminate\Foundation\Application::share()"
I have been trying to install this for Laravel 5.4
Although I try php composer.phar require cartalyst/sentinel "2.0.*"
It seems to be installing old version & i get this error below:

Call to undefined method Illuminate\Foundation\Application::share()
--
in SentryServiceProvider.php line 76

[2019-04-04 00:04] #458 closed

[2019-04-05 08:52] shafrazlk opened #459 "findByCredentials additional columns except 'email' and 'password'"
Got two users with same emails, but one is_active = -1 and other with is_active = 1. I tried findByCredentials as below but it always returns the is_active = -1 user.

`$user = Sentinel::findByCredentials([
                                                    'email' => 'example@gmail.com',
                                                    'password' => $request->password,

[2019-04-09 18:30] cbj4074 commented on #459
Aside from the arguments you're passing, that seems like a "bad design".

What will prevent you from ending-up with more than one user with the same email address and the same `is_active` state?

With regard to the snippet you provided, the array that you're passing as an argument probably isn't bring treated as a series of `where()` calls. But it's hard to say without seeing your implementation.

[2019-04-13 02:55] shafrazlk commented on #459
@cbj4074 yeah i am using Sentinel with Laravel. At the moment i had to add 'is_active' in 'loginNames' array in model.

Unfortunately requirement is such that an email is assigned to multiple users, but at a time only ONE user can be active.

[2019-04-15 12:13] cbj4074 commented on #459
@shafrazlk Sure enough! Sometimes, the requirements are out of our control.

Did adding `is_active` to the `loginNames` resolve the issue for you? Is everything working as you'd like now?

[2019-04-16 23:18] AhmedYacoub commented on #317
after 2 years, I faced the same problem xD

[2019-05-08 07:20] sontungx305 opened #460 "How to get users by permission?"
Hello,
I was wondering, is there a best way to get all users who have specify permission ?
I am looping through every users and checking with hasAccess?? But if there are a lot of users, it is very slow.
[code]

[2019-05-14 14:29] breaktag opened #461 "Is there a way to update a users password already encrypted?"
Hello,

I have a bunch of encrypted passwords which I need to set as the password_hash for my users.

If I use `Sentinel::create()` or `Sentinel::update()` then it will encrypt the already encrypted version.

I would like a updateRawPassword() method of some sort. Is it possible to bypass the encryption?

Thanks

[2019-05-18 14:55] jni-heyloyalty opened #462 "How to list all active sessions?"
How do I retrieve a list of active sessions / users?
I am not talking about the current session / user, but all active sessions / users that is currently logged in.

[2019-05-19 10:57] brunogaspar commented on #462
Hello @jni-heyloyalty

Can you determine if `$user->persistences` returns what you want to achieve?

[2019-05-19 11:01] brunogaspar commented on #461
Hello @breaktag

Not entirely following what you're asking, can you give a bit more clarification and/or perhaps a code example of the problem you're facing?

Thanks!

[2019-05-23 11:51] breaktag commented on #461
@brunogaspar

Something like this:

[code]

Usually, you would do this below, and the sentinel package would automatically hash the password field before inserting it to the database. I dont want this to happen, I would like to insert a already hashed password without the package doing it for me:

[code]

[2019-05-23 12:13] brunogaspar commented on #461
I see.. that's not possible to do, since when it sees that you've provided a password, it will automatically hash it for you.

One solution, you can extend Sentinel by creating your own User repository that extends the base User repository, tweak the `fill` method so it doesn't hash the password and that should work. Although, during creation of a User that will not hash the password, unless you u

[2019-05-23 13:16] breaktag commented on #461
Thanks for clarification. I was thinking of by passing the Sentinel route and updating directly using my User model, so may look at doing that

Thank you

[2019-06-04 14:08] padmanabanparthi commented on #106
###

[2019-06-14 13:19] underdpt opened #463 "Throttling: proxy ip address is being recorded instead of real remote address"
Hi,

We have some sites behind a proxy, and today found that all users were kick off of one site due to a Throttling Exception. Investigating the issue we found that all ips recorded on the `throttle` table are the same: the ip address of the proxy server.

I think this is related to #62, (by the way that issue is closed but a quick look reveals that no change was made to the code).

We should hav

[2019-06-14 22:57] brunogaspar commented on #463
Hello @underdpt

If you have a good way to achieve that, please submit a pull request :)

[2019-07-11 08:49] kfeng0806 commented on #463
I think your issue is relate to TrustedProxy, you should read the Laravel Doc
https://github.com/fideloper/TrustedProxy

[2019-07-12 15:41] vaiosyndicate15 opened #464 "Login issue when authenticate"
so basically, i want to implement login system using sentinel
but when using Sentinel:findbycredential is work even i put wrong password
and when i using Sentinel::authenticate, it seem doesn't work because when i login using NOT ACTIVATED user, the activated error still appear even i already use try-catch block or if-else like this

	   $user = Sentinel::authenticate($credentials);
	} catch (\Not

[2019-07-12 17:20] brunogaspar commented on #464
It seems you're not using the FQCN of the exception itself, therefore, it's normal that the catch block does not catch that exception.

You should use the following:

[code]

[2019-07-16 02:57] kfeng0806 commented on #463
Try to set
[code]
in `app/Http/Middleware/TrustProxies.php`

[2019-07-27 11:29] brunogaspar commented on #464
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-07-27 11:29] #464 closed

[2019-07-27 11:29] brunogaspar commented on #462
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-07-27 11:29] #462 closed

[2019-07-27 11:31] brunogaspar commented on #460
This is indeed not easy to perform.

What @cbj4074 suggested is one of the ways to do it.

Either way, going to close the issue as there's, unfortunately, not much we ca do here i'm afraid.

But do let me know if you think otherwise :)

[2019-07-27 11:31] #460 closed

[2019-07-27 11:32] brunogaspar commented on #459
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-07-27 11:32] #459 closed

[2019-07-27 11:32] brunogaspar commented on #463
@underdpt Please give a try on what @kfeng0806 suggested.

If that still does not work, we can try to work some other solution inside Sentinel perhaps.

[2019-07-27 11:32] #463 closed

[2019-07-27 11:34] brunogaspar commented on #449
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-07-27 11:34] #449 closed

[2019-07-27 11:36] brunogaspar commented on #440
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-07-27 11:36] #440 closed

[2019-07-27 11:37] brunogaspar commented on #443
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-07-27 11:37] #443 closed

[2019-08-02 22:17] 8633brown opened #471 "[Proposal] password_needs_rehash"
this might be pretty much the same as #27.

when hashing passwords would it not be a good idea to use ```password_needs_rehash``` especcially when using ```DEFAULT_PASSWORD```  in the NativeHasher, as this algorithm is meant to change over time and generally make it easier to store passwords in a more secure manner.
as noted in the previous issue on this its not as simple as creating your own hash

[2019-08-02 22:20] brunogaspar commented on #471
It's debatable, not sure if it should be configurable, opt in, etc..

I use the following on a project when a user logs in

[code]

So the use case is def there :)

[2019-08-03 00:04] 8633brown commented on #471
Definitely would be nice as a configurable option. personally i think it should be configurable via changing the selected hasher via ```Sentinel::setHasher``` as if you were selecting a specific hasher you imply that you never want the algorithm to change. And my understanding of the ```PASSWORD_DEFAULT``` option is to assist in keeping the algo up to date with current technologies. So surely if y

[2019-08-03 00:07] 8633brown commented on #471
or possibly passing it in as a parameter when calling ```Sentinel::Authenticate``` but i dont think passing another parameter here is the best solution.

[2019-08-09 22:23] 8633brown opened #472 "feature/dispatcher-contracts branch removal"
the [feature/dispatcher-contracts](https://github.com/cartalyst/sentinel/tree/feature/dispatcher-contract) branch was merged into 2.0 in [this](https://github.com/cartalyst/sentinel/commit/e47201edf9337ae26e3da1316b337ff95b6113a6) commit on Jan 30, 2017.

[2019-08-11 11:09] #472 closed

[2019-08-14 20:01] brunogaspar commented on #410
This has been implemented.

[2019-08-14 20:01] #410 closed

[2019-08-15 17:10] rubenvl2 opened #482 "New version 2.0.18 deletes users on loging"
With the new release 2.0.18 all our auth login fail because throttling seems not working (we dont get any error) but the user gets directly deleted, and, of course, cannot complete the login.

We rolledback to v2.0.17 (it was our stage environment) and everything worked back.

Thanks.

[2019-08-15 17:17] brunogaspar commented on #482
Please paste some code that causes this so i can try to reproduce the problem.

[2019-08-16 09:17] rubenvl2 commented on #482
Hi @brunogaspar, unfortunately this time we don't have any code to provide. I explain you how was the issue:

- We did a deployment of our platform in a stage environment we use often for work, we use jenkins, and this run a full composer install.
- The version of sentinel that composer took was 2.0.18 instead of the 2.0.17 we have in production.
- From that moment on, everytime we tried to login,

[2019-08-16 09:27] brunogaspar commented on #482
I tried with a simple app yesterday, couldn't reproduce any login issue nor i'm seeing how Sentinel is soft deleting a user because Sentinel User model does not ship with soft deletes.

When you upgraded your dependencies, what did it update also?
When you downgraded Sentinel, you downgraded only Sentinel or everything?

Just trying to pin point what might be wrong but unfortunately without a piec

[2019-08-16 09:29] rubenvl2 commented on #482
@brunogaspar of course I understand you. Thank you so much for helping with this, I appreciate it.

I will ask some of our enginners to come to this threath and put more detail. Eventually, once we finish our urgent backlog, we will go back to 2.0.18 and try to debug step by step. Just keep this post open if you want till someone else experiences.

Thanks!

[2019-08-16 09:57] brunogaspar commented on #482
Of course, it's a bug report, until we figure out where the problem is, it stays open, no worries.

I've checked the changes between [2.0.17 and 2.0.18](https://github.com/cartalyst/sentinel/compare/v2.0.17...v2.0.18) and couldn't pin point what might changed that's causing this weird behaviour. If it was just not logging in, we could try different things, but you're saying it's deleting the User

[2019-08-24 20:46] 8633brown opened #484 "[proposal] restructure tests"
```tests/Throttling/ThrottleCheckpointTest.php``` should become ```test/Checkpoints/ThrottleCkeckpointTest.php``` as it does not test throttling it tests checkpoints.

```tests/Checkpoints/CheckpointsTest.php``` should be merged into ```tests/SentinelTest.php``` as it doesnt test checkpoints it tests sentinel calls the relevant checkpoints which is mostly covered in ```SentinelTest.php```

~~also

[2019-08-26 12:44] brunogaspar commented on #482
@rubenvl2 Any news?

[2019-08-26 12:44] brunogaspar commented on #484
Seems you've submitted a pull request :)

[2019-08-26 12:44] #484 closed

[2019-08-28 10:35] lorvent opened #486 "laravel 6 support"
Hope you are aware, laravel 6 is about to release on sep 3rd.

please make package compatible with laravel 6, currently i am unable to install it.

thanks.

[2019-08-28 11:32] brunogaspar commented on #486
It's on the `master` branch at the moment.

Will be released after a few days of Laravel 6 release.

[2019-08-28 11:32] brunogaspar commented on #486
Sorry, did not meant to close it :)

[2019-08-28 11:57] lorvent commented on #486
Sorry didn't check master branch

Happy to know you are already prepared it. :)

[2019-08-29 12:17] nicolaeum commented on #482
@brunogaspar after a deep debugging we noticed the soft delete applied to our model is our fault but it just popped up after the last package update. Sorry for alarming you.

After triggering $this->fireEvent('sentinel.logging-in', $user); on the login method of the Sentinel class (src/Sentinel.php), for some reason our model is using a getter which is a little buggy.

Thanks for your patience, so

[2019-08-29 12:20] brunogaspar commented on #482
hmm interesting..

Do you want to share that getter or the entire class so i can evaluate? You can email me the file for privacy and if interested of course :)

[2019-08-29 19:02] 8633brown commented on #451
looking into this a little bit i've created somewhat of an integration test to help in testing this. [here](https://github.com/8633brown/sentinel/blob/throttlingbug/tests/throttlingbugTest.php)
(this needs #487 to run correctly)

i think i've narrowed the bug down to these lines
https://github.com/cartalyst/sentinel/blob/d1e5d6c2afab33134c70eac1962aed769ddc3077/src/Throttling/IlluminateThrottleRep

[2019-09-04 05:01] lorvent commented on #486
Can you please tag the release?

laravel 6 is released..

[2019-09-04 09:23] brunogaspar commented on #486
Later in the week or during the weekend.

[2019-09-04 18:49] 8633brown commented on #381
looking into this it looks like ```EloquentUser::$persistenceModel``` is the problem here.
from what i can see the EloquentUser persistences model is never altered to match the newly extended ```AuthPersistencesModel``` and is always set to ```EloquentPersistence```instead.  This is brought to light only when ```single``` is set to true as we then run ```IlluminatePersistenceRepository::flush``` w

[2019-09-07 06:39] MatanYadaev commented on #486
Can you please release the changed? Thanks ☺️

[2019-09-07 09:26] #381 closed

[2019-09-07 09:26] #244 closed

[2019-09-07 09:27] brunogaspar commented on #482
Closing due to lack of activity. Feel free to reopen if you still have issues.

[2019-09-07 09:27] #482 closed

[2019-09-07 09:40] brunogaspar commented on #486
Hopefully tomorrow, but it's not forgotten, do not worry :)

[2019-09-07 23:28] #444 closed

[2019-09-07 23:36] brunogaspar commented on #439
I think this the same as https://github.com/cartalyst/sentinel/issues/302

[2019-09-07 23:36] #439 closed

[2019-09-07 23:38] 8633brown commented on #451
TLDR; i think reading and writing throttles to the DB need to be consistent with each other where as at the moment they are not.

This bug is actually the same for global and ip intervals too.
https://github.com/cartalyst/sentinel/blob/d1e5d6c2afab33134c70eac1962aed769ddc3077/src/Throttling/IlluminateThrottleRepository.php#L419-L421
https://github.com/cartalyst/sentinel/blob/d1e5d6c2afab33134c70ea

[2019-09-10 00:49] 8633brown opened #494 "Invalid if statement Sentinel::getRequestCredentials"
https://github.com/cartalyst/sentinel/blob/cb9a3703386bd45d23bbd5f10ee036b9f91c26cf/src/Sentinel.php#L390-L399

This will never evaluate as true as ```getRequestCrdentials``` is now only typehinted to return an array.
should the comparison now be looking for an empty array?

[2019-09-10 01:01] brunogaspar commented on #494
This or make the method to allow `array` or `null` to be returned, `?array`.

Though if the empty comparison works, probably that's the cleaner approach.

[2019-09-10 01:13] 8633brown commented on #494
just had a quick check. the ```getRequestCredentials``` can return null as far as i can tell. it creates the credentials variable line 419 but doesnt always return it.
https://github.com/cartalyst/sentinel/blob/cb9a3703386bd45d23bbd5f10ee036b9f91c26cf/src/Sentinel.php#L415-L438

[2019-09-10 12:50] juanpscotto commented on #486
Any news? Thanks.

[2019-09-10 13:43] lorvent commented on #486
Looking at all the commits and improvements they are making, probably it worths waiting.

[2019-09-10 14:26] #390 closed

[2019-09-10 14:26] #494 closed

[2019-09-10 15:06] suwardany commented on #451
@benwrigley i've pushed a little tweak there that should address the issue .. give it a try and let me know how it's looking on your end!

@8633brown thanks for digging in here .. got any thoughts on that fix?

[2019-09-10 15:14] suwardany commented on #461
Retrieving the model and manually performing the update is probably the easiest way. Don't think this is something that is needed on the core package, it is rarely needed and will possibly confuse people.

An alternative workaround would be to create a new hasher that just returns the string without hashing it and setting that whenever that update logic is needed.

[2019-09-10 15:14] #461 closed

[2019-09-10 18:22] 8633brown commented on #451
I've been trying to understand if there could ever be a situation for logging multiple users in on the same request.
In this situation is it not possible for the ip and user throttles to be stuck on the original user login attempt?
Would it be a better fix to only read and write to the DB when the ip address or the user is different from the previous attempt?

[2019-09-11 00:15] Eskies opened #499 "[Question] Additional Cookie (like JWT) After Successful Login"
Hello, I've been using Cartalyst/Sentinel to handle auth process of my project. Recently I shift some architecture of my website to use API/microservice at some part. What I like to do is using JWT when making API Request. Is there any option to put a JWT Cookie after a user successfully log in and authenticate?

Thank you

[2019-09-11 07:37] 8633brown opened #500 "[proposal] Consistant return types"
The return types of some of the methods in ```Sentinel``` return bool or an object. As far as I can tell it's the only file in the code base that mixes return types like this. I think it would make sense to change the return types to null or an object. As from what I can tell most methods which return a bool or objects type dont truly return mixed types and instead only return false or an object.

[2019-09-11 09:27] brunogaspar commented on #500
I don't think we can do that on this version, but as far as i remember this is simpler on version 4.

[2019-09-11 16:00] #486 closed

[2019-09-11 18:23] #500 closed

[2019-09-11 20:37] juanpscotto commented on #486
Thanks!!

[2019-09-25 11:00] jelledijkstra97 opened #504 "Sentinel::guest() always returns true."
### Your Environment

- OS and Version: MacOS localhost
- PHP Version: 7.2
- Sentinel Version: 3.0

### Expected behaviour

I expect the auth middleware to use my signed in user.

I have a Laravel 6.0 app thats uses Sentinel for authentication. I can succesfully log in however after redirecting to my home page a auth middleware redirects me back to the login page. After log in a new row is inserte

[2019-09-25 21:42] juanpscotto opened #505 "array_key_exists() expects parameter 2 to be array, null given"
### Your Environment

- OS and Version: Ubuntu 18
- PHP Version: 7.2.19
- Sentinel Version: 3.0.1

### Expected behaviour

*Please describe what you are expecting to see happening.*

Add permissions to roles with the addPermission Method

### Actual behaviour

*Please describe what is actually happening.*

It throws an error:

[code]

### Steps to reproduce

*If your issue requires any specific st

[2019-09-25 21:44] suwardany commented on #505
make sure to use the `getPermissions()` method which will ensure the return type is an array.

[code]

[2019-09-25 21:50] juanpscotto commented on #505
The error is in the EloquentRole.class.

[2019-09-25 21:51] suwardany commented on #505
Would you please provide us with more detail and the code you are using?

[2019-09-25 21:55] juanpscotto commented on #505
[code]

[2019-09-25 22:05] suwardany commented on #505
Just pushed out a new patch to address this bug. run `composer update` and everything should be working on your end.

[2019-09-25 22:26] juanpscotto commented on #505
Thanks. I've notice the same happens with ```updatePermission()``` on ```PermissibleTrait.class```.

Also. If throws the same error on this function:

[code]

[2019-09-25 22:31] suwardany commented on #505
Thanks @juanpscotto .. i just pushed an update to the master branch (still untagged) .. can you give it a try?

[2019-09-25 22:45] juanpscotto commented on #505
Don't forget the ```updatePermission``` and ```removePermission``` on ```PermissibleTrait.class```

Getting the same error here:
[code]
I've solved this like this:

[code]

[2019-09-25 22:51] suwardany commented on #505
pushed to master as well!

[2019-09-25 23:00] juanpscotto commented on #505
Thanks man! the updatePermission and removePermission methods are fixed now. It only remains the createPreparedPermissions, method:

[code]

[2019-09-26 00:42] suwardany commented on #505
aye aye .. give it another try now @juanpscotto

[2019-09-26 00:47] suwardany commented on #504
Try to import

`use Cartalyst\Sentinel\Sentinel;`

and then replace

`public function __construct(Guard $auth)`

with

`public function __construct(Sentinel $auth)` and make use of it instead of the facade.

[code]

[2019-09-26 01:50] juanpscotto commented on #505
Thanks man for your patience!.
I've updated the dev-master branch.

![image](https://user-images.githubusercontent.com/1307866/65652016-4b441e80-dfde-11e9-8848-7f1a55237596.png)

 Getting the same error when the roles.permissions is set to null. Only works when is an empty array '[]' or '{}' I've tried to use the StandardPermissions.php or the StrictPermissions.php with the same result.

[code]

[

[2019-09-26 01:55] suwardany commented on #505
hmm .. what exactly triggers that one?

[2019-09-26 02:22] juanpscotto commented on #505
When I called:
[code]
[code]

[2019-09-26 02:27] suwardany commented on #505
I'm unable to reproduce that on my end, what are the exact user/roles and their permissions on your end? working with empty arrays or nulls as permissions works fine whether that is on a user, a role or on both.

[2019-09-26 07:02] jelledijkstra97 commented on #504
Thanks for the reply!

Unfortunately this did not solve my problem. The docs say to use Cartalyst\Sentinel\Laravel\Facade\Sentinel right?

Any other suggestions?

[2019-09-26 13:49] juanpscotto commented on #505
Sorry sorry. Yes you are right. All is working fine now. I was overriding createPermissions on my User.php model. Thanks a lot!!

[2019-09-26 13:49] #505 closed

[2019-09-26 13:54] suwardany commented on #504
What do you have in the `RedirectIfAuthenticated` class?

[2019-09-26 13:54] suwardany commented on #505
No worries @juanpscotto .. i've released a new patch tag.

[2019-09-26 13:57] jelledijkstra97 commented on #504
[code]

[2019-09-26 15:28] juanpscotto commented on #505
Awesome!

[2019-09-26 18:30] gh-bct commented on #499
What I do for this is just see if Sentinel::authenticate returns a user, then put the user principal / id / email into a JWT outside of sentinel and just setcookie().

JWT cannot be destroyed like a cookie or PHP session, so really just make it afterward.

[2019-09-27 06:49] karthickk1996 opened #506 "Your documentations has lot of errors eg. Activation::exists() methods returns only bool not an activation object."
### Your Environment

- OS and Version: #.#.#
- PHP Version: #.#.#
- Sentinel Version: #.#.#

*The documentation guide you have provided is having lots of errors.*

[2019-09-27 09:40] suwardany commented on #506
Feel free to submit a PR

[2019-09-27 23:20] 8633brown opened #507 "null can be returned when registering with a callback"
### Your Environment

- OS and Version: #.#.#
- PHP Version: #.#.#
- Sentinel Version: #.#.#

### Expected behaviour

as per the docs `Sentinel::register` should return `bool|UserInterface`

### Actual behaviour

https://github.com/cartalyst/sentinel/blob/c7420487cd82ef135ed384a75056674902b755bb/src/Users/IlluminateUserRepository.php#L188
`IlluminateUserRepository::create` returns null
https://git

[2019-09-27 23:23] suwardany commented on #507
i guess it's just the docs outdated here

[2019-09-27 23:28] 8633brown commented on #507
yes and no? more the doc block return type.

[2019-09-27 23:33] suwardany commented on #507
you're right ya

[2019-09-27 23:38] 8633brown commented on #507
would it not be better to return false if `::create` returns null? but i suppose this is against semantic versioning?

[2019-09-30 23:37] 8633brown opened #510 "samesite option for native cookie"
## Description

Currently the native cookie uses a list of arguments passed to ```setcookie```. Most of these arguments are already in an array which could be passed somewhat directly to ```setcookie```.

https://github.com/cartalyst/sentinel/blob/c7420487cd82ef135ed384a75056674902b755bb/src/Cookies/NativeCookie.php#L119-L130

Passing an array directly to [setcookie](https://www.php.net/manual/en/

[2019-10-01 00:16] 8633brown commented on #499
@suwardany just a thought. Would this be a good optional cookie class. I imagine there would be more to it than just that but maybe for 4.0 add the option for stateless logins?

[2019-10-01 09:58] brunogaspar commented on #499
Since Sentinel has a stateless method, we can augment/improve that so it could become a tad more flexible.

[2019-10-01 10:39] brunogaspar commented on #504
Can't reproduce this issue:

- Fresh Laravel 6 install using Composer create-project
- Installed Sentinel 3
- Update `.env` file to point to my database
- Removed the default Laravel migrations
- Published Sentinel migrations & ran `php artisan migrate`
- Added similar files as above
- Can login, be redirected and `Sentinel::guest()` returns `false`

Try to reproduce the problem in a fresh Laravel

[2019-10-01 10:39] #504 closed

[2019-10-01 19:59] #506 closed

[2019-10-02 02:13] rxng commented on #174
I have the same problem and cannot seem to persist a login using remember me, but not sure how to ensure the cookie with the key has been set @suwardany ?

In the config file, there is this
'cookie' => 'cartalyst_sentinel'

Anyone able to provide wisdom on this matter? Many thanks

[2019-10-02 12:32] Eskies commented on #499
ah, it means we need to set it outside of sentinel. Well, guess need to add some middleware then,
As a suggestion, maybe it can be improved, as @8633brown and @brunogaspar said, to make it more flexible by adding an option for stateless login.
Thanks :)

[2019-10-02 12:32] #499 closed

[2019-10-03 01:39] 8633brown commented on #302
Would the easier way to solve this not be to just create a couple of extra checkpoints based on the [```ThrottleCheckpoint::checkThrottling```](https://github.com/cartalyst/sentinel/blob/c7420487cd82ef135ed384a75056674902b755bb/src/Checkpoints/ThrottleCheckpoint.php#L100) method. Splitting this method into 3 different checkpoints i.e. ```UserThrottleCheckpoint```, ```GlobalThrottleCheckpoint```, `

[2019-10-04 16:50] eileennoonan83 opened #512 "Upgrading from Sentry"
Hello -

The documentation said I could come here if I was stuck. Well, I am stuck. I have inherited a Laravel project stuck on version 5.1 that was using the now-abandoned BootstrapCMS/Sentry fork, which seems to have mostly just updated the Sentry service provider and composer.json to be compatible with Laravel 5.1

I do not see a way forward with that setup. I assume we've missed out on a numbe

[2019-10-08 11:16] no0by5 opened #513 "Return value of Cartalyst\Sentinel\Users\EloquentUser::getPermissions() must be of the type array, string returned"
### Your Environment

- OS and Version: Windows 10
- PHP Version: 7.2.19
- Sentinel Version: 3.0.3

### Expected behaviour
A call to Cartalyst\Sentinel\Users\EloquentUser::getPermissions() should not throw an exception.

### Actual behaviour
It throws

### Steps to reproduce
In my Middleware i call ``` abort_unless(($user ? $user->hasAccess($permission) : false), 403); ```
I tried adding permissio

[2019-10-08 20:40] 8633brown commented on #513
The only way I can seem to replicate this is by running ```$user->permissions = 'roles.create'```
and writing this to the DB. This writes the string directly to the DB. Then when trying to read back with ```EloquentUser::hasAccess``` I get the mentioned error.

I cant replicate the error with the other steps you gave.

https://github.com/8633brown/sentinel/blob/b42950536814186504e5f832b2c46cc20a80

[2019-10-08 21:11] no0by5 commented on #513
I found the problem. I have my own user model where I overwrite the casts variable. Since the new Sentinel version this is also used by Sentinel's user model to cast the permissions into json. I didn't have this cast in my casts variable, which led to the problem. It would have been helpful if this had been in the update news.
https://github.com/cartalyst/sentinel/blob/3.0/src/Users/EloquentUser.p

[2019-10-08 21:11] #513 closed

[2019-10-09 20:31] salamand3r opened #514 "Problems with installation"
### Your Environment

- OS and Version: WIndows 10 Home Edition
- PHP Version: 7.3.10
- Sentinel Version: 3.0.3

### Expected behaviour

*Install the current version of Sentinel.*

### Actual behaviour

*Error on installing
 Symfony\Component\Debug\Exception\FatalThrowableError  : Argument 1 passed to Cartalyst\Sentinel\Activations\IlluminateActivationRepository::__construct() must be of the type

[2019-10-09 21:03] #514 closed

[2019-10-18 03:53] wakawakapogsSr commented on #365
https://www.youtube.com/watch?v=GqRqlvgByNk&list=PL3ZhWMazGi9KB9PajJHWvV2NJ1ITNoNGp

[2019-10-23 07:39] vaiosyndicate15 opened #515 "check session after log in"
so basically i try to implement login system with some cases
case 1 :
admin 1 = login
member 1 = login
member 2 = login

so all of them already logged in and i want to make when they're accidentally close the tab and open the dashboard url, they're still logged in
but the problem appear when if one of them is log in, let's say member1, member2 also have the session of member1 because member1 and 2

[2019-10-29 11:13] minedun6 opened #516 "Register without providing password"
Is there any way to register a new user by omitting password field ?

So far, I'm getting

[code]

so any way I can bypass the password field and register the user without password ?

[2019-10-29 11:18] brunogaspar commented on #516
No, not without extending Sentinel, more specifically, the User Repository.

It's easier to just generate a random password for these Users, that way in the future, if you change the login flow, you don't end up with Users without passwords, they would just need to reset the password and potentially receive an email.

[2019-10-31 13:43] beeyev opened #517 "Demo project"
It would be really useful to have an access to the sources of demo project.
https://demo.cartalyst.com/sentinel-kickstart/

[2019-10-31 13:52] drsii commented on #517
Sentinel Kickstart is built for cartalyst subscribers. Includes the full source.

[2019-11-01 13:50] Nereg opened #518 "How to search user by it's first name?"
Hello ! I want to search for user by user's first name or any column . First I tryed code like this :
[code]
but every time I got just null even when in DB is user with that value of `last_name`! Please help !

[2019-11-01 15:57] Nereg commented on #518
Any guesses ?

[2019-11-01 17:19] brunogaspar commented on #518
That's to find a User by credentials, it's not designed to perform regular searches on such fields, unless you define those fields to be used as credentials..

You need to either use the User model or the User repository:

Something like

[code]

After the `createModel()` call is all Laravel Eloquent, so you can perform any kind of query with it.

[2019-11-01 17:19] #518 closed

[2019-11-29 10:21] zubfatal opened #519 "Clear old persistences?"
### Your Environment

- OS and Version: Synology DSM 6.0.2
- PHP Version: 7.3.7
- Sentinel Version: 3.0.3

### Expected behaviour

Periodically cleanup of "old" persistences

### Actual behaviour

I'm signing in normally with `Sentinel::authenticate()` wich works fine and all, and my Sentinel session is saved in the `persistences` table, however, we are using normal sessions, which will cease to e

[2019-11-29 10:27] brunogaspar commented on #519
Maybe try to clear out everything with the exception of the current active session, something like this:

[code]

[2019-11-29 10:47] zubfatal commented on #519
Hi @brunogaspar,

I don't think that would work as intended, since they may be other users logged ind, I think this would disrupt their sessions as well?

I am testing another idea though.
I'm using Slim Framework, with Sentinel attached to it's container, and the idea I have is something like this:
[code]

This would update `updated_at` for the current session in the `persistences` table while th

[2019-11-29 11:05] brunogaspar commented on #519
The example i gave, clears the other sessions for the logged in user only, which is what you've asked i believe,

If that does not work as intended for your use case, then you might need to perform a loop within the persistences records yourself i suppose.

[2019-12-03 09:50] nejimz opened #520 "Laravel Sentinel 3 Installation"
Hi Guys,

I'm kinda stuck installing Sentinel in my fresh Laravel 6 project. When I install this in my last Laravel 5.8 project and Sentinel 2 no problems encountered.

### Your Environment

- OS and Version: Windows 10 Pro 64bit
- PHP Version: 7.2
- Sentinel Version: 3

### Expected behaviour

I follow the installation process in [Cartalyst/Sentinel](https://cartalyst.com/manual/sentinel/3.x)

##

[2019-12-09 18:57] MellianStudios opened #521 "missing documentation"
Hello, while working with reminder I noticed method exists no longer returns instance like in v2 but just bool and there is method get (which have to be found by looking into ReminderRepositoryInterface). Would be great for future package users to have it in documentation.

[2019-12-11 01:51] brunogaspar commented on #520
@nejimz Does this happen only when you run the `composer require` or after the dependency is installed?

I don't have a Windows machine to test at the moment, but on Mac, kinda the same PHP version, i haven't detected any problem :\, but seems that Laravel can't read or parse the Sentinel config file properly.

[2019-12-11 01:54] brunogaspar commented on #521
Yes, this is correct, is documented https://cartalyst.com/manual/sentinel/3.x#reminder-exists

You're more than welcome to add it to the documentation by sending a pull request :)

[2019-12-11 01:55] brunogaspar commented on #519
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-12-11 01:55] #519 closed

[2019-12-11 01:55] brunogaspar commented on #517
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-12-11 01:55] #517 closed

[2019-12-11 01:55] brunogaspar commented on #516
Closing due to lack of activity. Feel free to reopen if you still have issues or other questions.

[2019-12-11 01:55] #516 closed

[2019-12-11 01:56] brunogaspar commented on #512
Hey

I don't think there's any upgrade guide to move from Sentry to Sentinel, since those are quite different products.

But are you stuck with anything or just wondering if you've missed something?

Let me know if you need help figuring that out.

[2019-12-11 02:00] brunogaspar commented on #515
Not really understanding the problem here, can you please clarify the problem a bit better?

[2019-12-11 02:04] nejimz commented on #520
@brunogaspar it happen when I run **composer require**. Thank you for response.

Don't have any idea to fix this but currently I created another project that using laravel 5.8 and using sentinel 2 so that I can move on to my project.

[2019-12-11 02:14] vaiosyndicate15 commented on #515
so in my app,  I have multilevel login with 2 roles
admin and user
let's say,
Jenny as user 1
Jinny as user 2

I have been trying some "QA" testing with cases :
1. Jenny as user 1 already logged in
2. Jinny as user 2 already logged in
Both of them in the same login page
The problem appears when "Jinny" log out, "Jenny" also log out

[2019-12-20 03:47] iBars opened #522 "Can I use custom users table (for example of other CMS)?"
I have my own users database from one game. Can I use this existing users database table and authorize players on web-site via Sentinel as framework (for auth, sessions/cookie mechanism, remember me feature, XSS/CSRF protection)?

[2020-01-09 11:04] byjujohn opened #524 "Large number of records in throttle table"
Hi,

I have noticed a large number of records in the `throttle` table. All the records from the beginning of the project is still in this table. Is it the expected behaviour? I have noticed and `expires` config values for both `activations` and `reminders`. Should we not have some sort of `sweep` mechanism for the `throttle` table too?

There are more than 6 million records in this table. This is

[2020-01-09 11:57] brunogaspar commented on #524
Hey @byjujohn

I think that adding such configuration makes sense.

@suwardany Can you leave your input here?

[2020-01-09 12:15] byjujohn commented on #524
Thank you @brunogaspar.

So as an interim measure, am I okay to delete records which are created before the `interval` value for the corresponding `type`?

For example: `delete from `throttle` where `type` = ? and `created_at` < ?`

Here the `type` would be one from `global`, `ip` and `user`.
Also the date would be calculated using:
[code]

What you think?

Many thanks

[2020-01-09 12:56] byjujohn commented on #524
Also `persistences` another one which potentially could be cleaned as well. I can see multiple records for the same user. I know this may be difficult as the same user may be logging in from different devices etc. But is there anything we can do on this?

Thanks

[2020-01-09 20:03] suwardany commented on #524
Hello,

We could implement some means of sweeping these tables too, yea.

Needs some more thought, and would possibly be disabled by default, but i think the idea is good.

For persistences, this would likely mean that even people who choose to remember themselves would be logged out after the interval is over, so things like `remember me for 30 days` would replace the default behavior.

In the me

[2020-01-10 14:10] byjujohn commented on #524
Thanks a lot for the feedback @suwardany 👍

For `persistences` if we can set the limit for how long the sessions should be remembered would be a great idea. We could try to keep the current behaviour, say for example if the value is `0`, disable cleanup.

I managed to truncate the `throttle` table, as the site was keep going down. Also I made sure the site was not under attack, before truncating.

[2020-01-15 19:54] PDXfoster commented on #328
I found this S.O. post solved the problem for me: https://stackoverflow.com/questions/49043879/laravel-passport-with-cartalyst-sentinel

Hope it can help someone else :-)

[2020-01-16 03:01] PDXfoster commented on #382
@brunogaspar --> do you have any further advice on how to go about patching this through a service provider? I've been looking all over for an answer for this for nearly a year now. (just ran across my old comment: https://laracasts.com/discuss/channels/general-discussion/sentinel-passport-api-security)

I seem to have the authentication working after finding this: https://stackoverflow.com/questi

[2020-01-24 17:45] salamand3r commented on #520
This is a cache + permissions issue, what I do was remove the sentinel package, then change the
permissions (chmod 777 -R in my case), then composer dump-auto && php artisan clear-compiled && php artisan config:cache, and then install again the sentinel package, work like a charm

I hope can help

[2020-01-28 18:38] rscarpim commented on #522
That's a wonderful question, also I would like if there's any chance to add more field's to the table user, and off-course control those fields?

[2020-01-30 00:45] nejimz commented on #520
@salamand3r  thank you for giving time on giving information. I'll give update once I try this steps but currently I'm using windows.

Thank you,

[2020-02-02 10:05] sabas commented on #524
I have a command in the admin panel to TRUNCATE directly the throttle table :laughing:
On persistences, shall we keep only the last valid persistence for each user?

[2020-02-02 10:17] sabas commented on #522
You need to make your user tables compatible with the classes in src/Users I think, by replacing or extending them.

Adding other fields you can do, I extended EloquentUser, example:
[code]
Then I added the configuration (which is the same file from src/config/config.php with changes) before starting the instance
[code]

[2020-03-05 05:48] lorvent opened #526 "Laravel 7 support"
please make it compatible with laravel 7

[2020-03-05 10:47] brunogaspar commented on #526
Will be released as soon as possible.

Thanks!

[2020-03-05 22:57] brunogaspar commented on #526
Version 4 of Sentinel with Laravel 7 support is released.

Let me know if you find something that does not work.

Thanks!

[2020-03-06 07:22] lorvent commented on #526
Many thanks, it is working fine 💯

[2020-03-29 21:59] keshansandeepa opened #527 "Supporting for lumen ?"
### Your Environment

### Expected behaviour

Hi i need to know is  this package support for lumen ?

### Actual behaviour

### Steps to reproduce

[2020-03-31 06:55] meekahCodes commented on #520
I too have the issue when installing sentinel 3.0 with laravel 6.0.

[2020-03-31 06:56] meekahCodes commented on #520
I too have the issue when installing sentinel 3.0 with laravel 6.0.
I tried following commands still not works
1. composer dump-autoload
2. php artisan clear-compiled
3. php artisan config:cache
![Capture](https://user-images.githubusercontent.com/43058453/77996235-dfef5680-734a-11ea-8d44-ddaf3af2c5d7.JPG)

[2020-03-31 07:03] meekahCodes opened #528 "Laravel 6.0 and sentinel 3.0 integration issue"
### Your Environment

- OS and Version: Windows 10
- PHP Version: 7.4.0
- Sentinel Version: 3.0

Expected behaviour
---------------------
Am trying integrate sentinel 3 with my laravel 6.0 project through composer.

Actual behaviour
------------------
But its not getting integrate as expected, giving an error as below image
![Capture](https://user-images.githubusercontent.com/43058453/77996709-c0a

[2020-03-31 07:58] brunogaspar commented on #528
No need to open several issues for the exact same thing.

#520

[2020-03-31 07:58] #528 closed

[2020-04-04 14:31] webdevmedia commented on #396
"And this version of sentinel contains A LOT of dirty code"

Man i love this library/package....i love the style of coding with was created and is pretty fast,strong and suitable for the new codeigniter 4 ... Ion Auth vs Sentinel (winner by far).sorry for my bad english....:)))

[2020-04-17 07:12] runm717123 opened #530 "Trying to access array offset on value of type null on install Sentinel to laravel 7"
### Your Environment

- OS and Version: windows 10
- PHP Version: 7.4.1
- Sentinel Version: 4.0.0
- Laravel 7.0

### Expected behaviour
when i install via composer, it try to read sentinel's config file which didn't created yet

![image](https://user-images.githubusercontent.com/33694392/79542320-a2fac200-80b5-11ea-88ab-28e8f42c9e35.png)

[2020-04-17 07:57] brunogaspar commented on #530
Duplicate of #520

Since i don't have access to a Windows machine to test and you also have the issue, on Windows, feel free to send a pull request that addresses the issue.

Going to close in favor of the older ticket.

[2020-04-17 07:57] #530 closed

[2020-04-19 13:48] bhvreddy commented on #218
it seems like still the issue exists

[2020-04-21 17:44] rubenvl2 opened #531 "Throttling for proxy (AWS ELB)"
## Description

Hi! We are using Sentinel in a multi-server environment in AWS, using ELB (Elastic Load Balancer) that acts as a **proxy**.

Unfortunately, the throttling is using the internal IP. The HTTP header includes the proxy real user address but Sentinel doesn't seem to have any option to get this address instead of the local subnet internal one.

Do you have any option to get the real use

[2020-04-21 19:48] brunogaspar commented on #531
Seems to be a problem within the Symfony Http component as i don't recall we retrieve the ip address in any other way.

[2020-04-22 10:58] rubenvl2 commented on #531
@brunogaspar thanks! will investigate further with symfony/Laravel and if we find anything will post it back here. Thanks! :)

[2020-04-22 19:35] brunogaspar commented on #531
Sure, sounds good.

I know that there issues with load balancers on Google Cloud App Engine, not sure if it's kinda related with AWS.

[2020-04-22 20:33] jackbergemann commented on #520
@meekahCodes I had the same error as you, I went into my .yaml file and specifiied php version 7.2 for my project and that fixed it for me.

[2020-05-04 18:11] quentingosset opened #532 "Extending Sentinel - Laravel module pattern"
Hi, guys!
I'm coming to you because I have a little problem I can't solve. To start, I develop my application as a module here are the 2 main modules that are the cause of my problem.
-User
-Vendor

Here is a brief explanation of my problem:
When a seller registers on my site, he registers as a user, he can add items. When he adds an item, his id as well as the product id is inserted in a products

[2020-05-07 18:46] ssi-anik commented on #134
I tried `config()->set('cartalyst.sentinel.checkpoints', ['activation']);` cause I don't want to bypass activation checkpoint.
Still cheerio to @hashik

[2020-06-02 02:22] LiXunGuan opened #533 "How to support tymon/jwt-auth"
In tymon/jwt-auth 1.0 version, it is useless to find sentien support, how do you support jwt authentication

[2020-06-03 10:46] brunogaspar commented on #533
Personally never used it, nor i know anyone that has used that with Sentinel, so i guess you should ask this elsewhere like on Stack Overflow, you'll most likely get a bigger "audience" that could potentially help.

From a quick Google search this https://stackoverflow.com/questions/51156798/how-can-i-use-cartalyst-sentinel-with-tymon-jwt-in-laravel-5-6 showed up in the first result, not sure it w

[2020-06-03 10:46] #533 closed

[2020-06-06 19:00] httpware commented on #533
Sentinel shouldn't support this, it's external to the authentication aspect.

Once authenticated you can provide keys etc.

I also suggest you look a Laravel Sanctum over tymon/jwt-auth.

[2020-06-10 08:43] cuneydtural opened #534 "Laravel 7 composer install error"
I get this error in Laravel 7. Help please.

Argument 1 passed to Cartalyst\Sentinel\Activations\IlluminateActivationRepository::__construct() must be of the type string, null given, called in /home/vagrant/ego/vendor/cartalyst/sentinel/src/Laravel/SentinelServiceProvider.php on line 243

  at vendor/cartalyst/sentinel/src/Activations/IlluminateActivationRepository.php:54
    50|      * @param int

[2020-06-10 08:48] brunogaspar commented on #534
This seems to be the same as https://github.com/cartalyst/sentinel/issues/520

If you have a fix please send a pull request as i personally can't reproduce the issue.

Going to close this since it's a duplicate either way.

[2020-06-10 08:48] #534 closed

[2020-06-10 08:54] cuneydtural commented on #520
** PROBLEM NOT SOLVED ***

I get this error in Laravel 7. Help please.

Argument 1 passed to Cartalyst\Sentinel\Activations\IlluminateActivationRepository::__construct() must be of the type string, null given, called in /home/vagrant/ego/vendor/cartalyst/sentinel/src/Laravel/SentinelServiceProvider.php on line 243

[2020-06-29 14:05] sven-ahrens commented on #520
Unfortunatly I don't have the time to rewrite the code and change this but here is a quick fix which worked for me:

**Open up SentinelServiceProvider.php**

**Open up ServiceProvider.php** (The class extended in SentinelServiceProvider)

__Change this:__

[code]

__To this:__

[code]

Just run the command again and it should work now.

``php artisan vendor:publish --provider="Cartalyst\Sentinel\L

[2020-06-29 14:24] sven-ahrens commented on #520
Ok, so this issue will hunt you down at runtime too. So the only "quick" solution would be to remove that if statement. I might look into this further tonight

[2020-07-06 10:53] moiz-conceptlz opened #535 "Integration with Laravel Telescope Gates"
Laravel introduced Telescope which is a handy tool to view logs and events in a great dashboard interface. Telescope has the ability to lock access to these dashboards via Gates - as described on https://laravel.com/docs/6.x/telescope#dashboard-authorization

Essentially, the gate function can return a true or false if a particular user in session can have access to the dashboard.

However, with S

[2020-07-06 11:21] moiz-conceptlz commented on #136
So this method does not work with Laravel 6 - tried is and getting the following error
[code]

[2020-07-24 16:17] dantarian opened #536 "Upgrading to Sentinel 3.0 breaks support for UUID as primary key"
### Your Environment

- OS and Version: Debian Buster
- PHP Version: 7.4.0
- Sentinel Version: 3.0.4

### Background

We are in the processing of upgrading an existing application from Laravel 5.8 to Laravel 6.0, and in the process have upgraded Sentinel from 2.0 to 3.0. Our user model uses a UUID, handled as a string, as its primary key.

### Expected behaviour

Sentinel::findById() should accept

[2020-08-11 00:41] juanfelipepipen commented on #161
vcv

[2020-08-23 10:19] Qrzysio opened #537 "Class 'Activation' not found"
Sentinel works well with Laravel, but it has some traps when it comes to the *native* implementation.

Let's try [creating an activation](https://cartalyst.com/manual/sentinel/4.x#activation-create).

[code]
The above throws `Class 'Activation' not found` error.

It seems to be undocumented and consumes quite a lot of time to solve the problem out. Thanks to [the only one post on StackOverflow.om]

[2020-09-07 13:59] sergeynilov opened #538 "Using cartalyst-sentinel registerAndActivate methods how extend fields list?"
Hallo,
My laravel 7 app has login /register functionality and I added to my project
cartalyst-sentinel 4.x
and replacing my code with cartalyst-sentinel methods I got error

`Field 'username' doesn't have a default value (SQL: insert into `hs3_users` (`email`, `password`, `updated_at`, `created_at`) values (User2@mail.com, $2y$10$TBUJVFfOT1uc7tw3o2dajOd27kpPP5zYQSdf7ifKf7m10IkXgtko2, 2020-09-06 16

[2020-09-07 15:03] ikkez commented on #531
for the record: this only seems to be an issue, if you initialize sentinel before the middlewares are loaded.. i.e. with a static call in a custom service provider

[2020-09-11 19:36] shanerbaner82 opened #539 "Support for L8 coming soon?"
Is there an ETA on L8 support?

[2020-09-11 20:22] drsii commented on #539
Hi @shanerbaner82 we do not give ETA's but we are beginning to work through all of our packages to update to Laravel 8.